<h2>Modifiez vos informations</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, autocomplete: "off", hint: "Ne pas remplir si vous ne soubaitez pas modifier vitre mot de passe", required: false %>
    <%= f.input :password_confirmation, required: false %>
    <%= f.input :current_password, hint: "Merci de taper votre mot de passe afin de confirmer les changements", required: true %>
    <%= f.input :photo_company_logo, as: :attachinary %>
    <%= f.input :photo_presentation, as: :attachinary %>
    <%= f.input :photos_projet_1, as: :attachinary %>
    <%= f.input :photos_projet_2, as: :attachinary %>
    <%= f.input :photos_projet_3, as: :attachinary %>
    <%= f.input :photos_projet_4, as: :attachinary %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
