<div class="container profile-container">

  <!-- <h2><%= t(".title", resource: resource_class.model_name.human) %></h2> -->

  <h2 class="text-center profile-title" >Profil de la société <strong><%= current_user.company %></strong></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

  <div class="row profile-first-row">
    <!-- Card infos de la société -->
    <div class="col-xs-12 col-md-4 col-md-offset-1 col-profile-infos col-profile-style">
      <%= f.input :company %>
      <%= f.input :address %>
      <%= f.input :city %>
      <%= f.input :zip_code %>
      <%= f.input :radius %>
      <%= f.input :photo_company_logo, as: :attachinary %>
      <%= f.input :photo_presentation, as: :attachinary %>
    </div>
    <!-- card skills et description -->
    <div class="col-xs-12 col-md-6 col-md-offset-1 col-profile-style">
      <p>Type de travaux</p>
      <div class="checkbox_form">
        <span>
          <%= f.check_box :construction %>
          Construction
        </span>
        <span>
          <%= f.check_box :renovation  %>
          Renovation
        </span>
        <span>
          <%= f.check_box :entretien  %>
          Entretien
        </span>
      </div>

      <p>Spécialités</p>
      <div class="checkbox_form">
        <span>
          <%= f.check_box :couverture  %>
          Couverture
        </span>
        <span>
          <%= f.check_box :ouverture  %>
          Ouverture
        </span>
        <span>
          <%= f.check_box :terrasse  %>
          Terrasse
        </span>
        <span>
          <%= f.check_box :plomberie  %>
          Plomberie
        </span>
        <span>
          <%= f.check_box :charpente  %>
          Charpente
        </span>
      </div>
      <p>Type de bien</p>
      <div class="checkbox_form">
        <span>
          <%= f.check_box :maison  %>
          Maison
        </span>
        <span>
          <%= f.check_box :chateau  %>
          Chateau
        </span>
        <span>
          <%= f.check_box :immeuble  %>
          Immeuble
        </span>
        <span>
          <%= f.check_box :monument_historique  %>
          Monument historique
        </span>
      </div>
      <%= f.input :description%>
      <span id="description-count"><strong></strong></span><span> sur 900 lettres  </span>
    </div>
  </div>

  <div class="row">

    <div class="col-xs-12 col-md-4 col-md-offset-1 col-profile-style">
      <h4>Contact</h4>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :position %>
      <%= f.input :email %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p><%= t(".currently_waiting_confirmation_for_email", email: resource.unconfirmed_email) %></p>
      <% end %>
      <%= f.input :office_phone %>
      <%= f.input :mobile_phone %>
    </div>

    <!--   Enregistrer mes modifications -->
    <div class="col-xs-12 col-md-6 col-md-offset-1 col-profile-style col-profile-submit list-inline">
      <%= f.input :current_password, required: true %>
      <%= f.button :submit, "Mettre à jour mon profil", class: "btn btn-success profile-submit-btn" %>
      <p class= "help-block-custom text-center">Le mot de passe est obligatoire pour valider les changements</p>
      <% end %>
      <%= link_to new_project_path(current_user), class: "navbar-wagon-button btn" do %>
        <span>Accéder mes projets</span>
      <% end %>
      <%= link_to t(".cancel_my_account"), registration_path(resource_name), data: { confirm: t(".are_you_sure") }, method: :delete %>
      <%= link_to t("devise.shared.links.back"), :back %>
    </div>
  </div>
</div>



<!-- JS Autocomplete -->
<%= content_for(:after_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyC0J8yKgp1HNvXsiK1_H_PCAz2f-D9Zq4Y"></script>
<% end %>
