<% content_for :meta_title, "Achat & Construction : conseils lors du choix de votre toiture' : lisez l'article sur #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "Définition et anticipation des besoins, planning des travaux, solution de financements, décryptage des devis, juridique... Voici nos conseils étapes par étapes" %>
<% content_for :meta_image, "lancieux_1200_630.jpg" %>

<%= render 'shared/fix_cta' %>
<%= render 'shared/guides_top_banner' %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <div class='guide-page'>

        <ol class="breadcrumb">
          <li><a href="/">Accueil</a></li>
          <li><%= link_to "Les guides", guides_path %></li>
          <li><%= link_to "La toiture", la_toiture_guide_index_path %></li>
          <li class="active">Achat et construction</li>
        </ol>

        <%= render 'shared/share_links' %>
        <article>

          <header>
            <h1 itemprop="headline" class="text-center">Achat & Construction : <br>conseils lors du choix de votre toiture</h1>
          </header>

           <p class="italic">L'achat ou le renouvellement complet d'une toiture est une opération lourde qui s'apparente à un projet immobilier à part entière : établissement et anticipation des besoins, recherche de solutions de financements, appel à prestataires, aspects juridiques... Voici une liste de conseils à suivre étape par étape pour mener à bien ce projet :</p>

           <ol>
             <li><strong>Définition du projet :</strong>
               <ul>
                 <li>Etablissez vos besoins</li>
                 <li>Réfléchissez à votre financement</li>
               </ul>
             </li>
             <br>
             <li><strong>Recherche des prestataires et affinage du projet :</strong>
              <ul>
                <li>Trouver et évaluer les prestataires</li>
                <li>Soyez force de proposition !</li>
                <li>Sécurisez les aspects juridiques</li>
                <li>Favorisez la qualité</li>
                <li>Etablissez plusieurs devis et vérifiez les</li>
              </ul>
             </li>
             <br>
             <li><strong>Gestion des travaux :</strong>
              <ul>
                <li>Anticipez pour rester maître de votre planning</li>
                <li>Etablissez un modus vivendi lors des travaux</li>
              </ul>
             </li>
           </ol>

           <br>

          <h2>1. Définition du projet</h2>
          <section aria-label="Travaux de toiture">
             <h3>Etablissez vos besoins</h3>
             <p>Etablissez vos besoins actuels et futurs tout en prenant en compte vos envies et vos contraintes. Il vous faut définir vos besoins actuels mais aussi anticiper ceux à venir. La première question est d’anticiper tous les usages potentiels de la rénovation, vous devez avoir en esprit les différentes possibilités d’aménagement de votre toiture avant de vous lancer (terrasses, ouverture, isolation). L’isolation est elle essentielle au confort de votre maison (ce n’est pas la même chose si on habite dans le sud ou dans le nord de la France) ? La famille va t'elle s'agrandir ou non (une occupation future des combles)? </p>
           </section>

          <section aria-label="Financement toiture">
            <h3>Réfléchissez à votre financement</h3>
            <p>Considérez votre toiture comme un investissement immobilier. L'ADEME considère que 30 % des déperditions énergétiques d'une maison passe par le toit. La bonne isolation du toit peut entraîner une réduction de 25 % de la facture d'éléctricité et impacte l'amortissement d'une toiture. De même, l'investissement dans une nouvelle toiture aura un impact sur la valeur de votre bien immobilier... <%= link_to "Lire notre article sur les aides et le financement", la_toiture_les_aides_et_les_financements_pour_vos_travaux_de_toiture_guide_index_path, class: "yellow-link"%></p>
          </section>

          <h2>2. Recherche des prestataires et préparation du projet</h2>

          <section aria-label="Evaluation prestataire toiture">
            <h3>Trouver et évaluer les prestataires</h3>
            <p>Bien choisir son pro est une étape cruciale dans la réussite de votre projet immobilier. Multipliez les devis et vérifiez les. <%= link_to "Lire notre article sur les professionnels de la toiture", la_toiture_comment_bien_choisir_vos_prestataires_professionnels_guide_index_path, class: "yellow-link"%></p>
          </section>

          </section>
            <h3>Soyez force de proposition !</h3>
            <p>La première question est d’anticiper tous les usages potentiels de la rénovation, vous devez avoir en esprit les différentes possibilités d’aménagement de votre toiture (terrasses, ouverture, isolation avant de vous lancer). Cela vous permettra de voir quelle est la capacité pour le professionnel de vous challenger et d’être force de proposition sur ces points. Regardez autour de vous. Le terroir, la position géographique et les habitations autour de chez vous sont des inspirations réelles pour votre toit comme pour votre maison. Ce site est également dédié pour vous afin de trouver l’inspiration.</p>
          </section>

          <section aria-label="juridique toiture">
            <h3>Sécurisez les aspects juridique</h3>
            <p>Les points juridiques liés à la construction sont doubles : ils concernent l'assurance de la construction mais aussi le respect des règles d'urbanismes nationales et locales. Vérifiez donc que votre projet bénéficiera bien d'une garantie décennale et menez les démarches juridiques nécessaires auprès de votre commune, des Monuments Historiques si votre bâti est classé, etc... <%= link_to "En savoir plus sur la réglementation et les aides", la_toiture_la_reglementation_et_les_assurances_guide_index_path, class: "yellow-link"%></p>
          </section>

          <section aria-label="QUALITÉ">
            <h3>Favorisez la qualité</h3>
            <p>Certains matériaux proposés sont intéressants d'un point de vue financier... à court terme ! Si vous en avez les moyens, privilégiez des matériaux de qualité, ce sera moins d’entretien pour la suite et c’est également votre bien immobilier que vous valorisez ! Les prestataires peuvent avoir intérêts à vous proposer des prestations, et donc des matériaux, moins chers car les marges pour eux sont plus importantes (rapportées aux taux horaires).</p>
          </section>

          <h3>Etablissez plusieurs devis et vérifiez les !</h3>
          <p>Vous devez y trouver :</p>
          <ul>
            <li>Le nom et le numéro de siren du professionnel</li>
            <li>Votre nom et votre adresse</li>
            <li>L’ensemble des matériaux posés ou installés (quantité, références, marque, etc.)</li>
            <li>Une description détaillée des travaux et des équipements utilisés à ces fins (nature de chaque type d’intervention et taux horaire correspondant). Notamment les coûts d’échaffaudages et les coûts de débarassement des remblais </li>
            <li>La durée de réalisation des travaux et les clauses de non respect des  délais</li>
            <li>Les prix en HT et en TTC + la TVA pour les matériaux</li>
            <li>Les conditions de paiement</li>
            <li>La clause de révision des prix</li>
            <li>Les frais de déplacement.</li>
          </ul>
          <p>Signé par les deux parties, le devis aura valeur de contrat passé le délai légal de retractation de 7 jours.</p>

          <h2>3. Gestion des travaux :</h2>

           <section aria-label="Travaux de toiture">
             <h3> Anticipez pour rester maître de votre planning !</h3>
             <p>Le premier piège est de se retrouver coincé par une volonté de commencer rapidement vos travaux une fois la décision prise ! Sachez que les artisans les plus qualifiés ont souvent leurs carnets de commandes remplis plusieurs mois à l'avance. Plus vous avez de temps devant vous entre le moment de la décision et le début des travaux, plus les options sont ouvertes.</p>
             <p>Les travaux vont également engendrer des désagréments. Il est possible que le foyer ne soit pas habitable pendant un certain laps de temps, l'anticipation de ces périodes est donc à prévoir.</p>


           </section>

            <section aria-label="Travaux de toiture">
             <h3>Etablissez un modus Vivendi pendant les travaux</h3>
             <p>La famille s'agrandit au moment des travaux. Définissez clairement les règles pour une bonne entente !</p>
           </section>



        </article>

      </div>
    </div>
    <%= render 'shared/guide_left_navigation' %>
    <%= render 'shared/article_left_navigation' %>
  </div>
</div>
