<% content_for :meta_title, "'Entretien et réparations de votre toiture : ayez les bons réflexes'  : lisez l'article sur #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "Correctement entretenir votre toiture, la réparer quand cela est nécessaire, permet d’allonger la durée de vie de celle-ci." %>
<% content_for :meta_image, "couvreurs.jpg" %>

<%= render 'shared/fix_cta' %>
<%= render 'shared/guides_top_banner' %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <div class='guide-page'>

        <ol class="breadcrumb">
          <li><a href="/">Accueil</a></li>
          <li><%= link_to "Les guides", guides_path %></li>
          <li><%= link_to "La toiture", la_toiture_guide_index_path %></li>
          <li class="active">Entretien et réparations</li>
        </ol>

        <%= render 'shared/share_links' %>

        <header>
          <h1 itemprop="headline" class="text-center">Entretien et réparations :<br> ayez les bons réflexes </h1>
        </header>
         <p  class="italic">Correctement entretenir votre toiture, la réparer quand cela est nécessaire, permet d’allonger la durée de vie de celle-ci.</p>

        <h3>Quelques régles générales</h3>

        <p><strong>contrôle visuel</strong></p>
        <p>Vous pouvez controler vous même votre toiture en inspectant les différentes parties à l’intérieur et à l’extérieur. </p>
        <p><strong>Une inspection décennale au bout de 20 ans</strong></p> <p>Faire vérifier votre toiture par un professionnel agréé au bout de 20 ans est une sage décision car celui-ci peut déceler un problème à venir ou une usure prématurée. Anticiper ce problème peut vous permettre d’économiser de l’argent et des soucis.</p>

        <figure class="figure-article">
          <%= image_tag "couvreurs.jpg" %>
          <figcaption></figcaption>
        </figure>

        <h3>Les réparations : savoir être rapide sans se précipiter</h3>
        <p>Procéder comme pour une rénovation</p>
      </div>
    </div>
    <%= render 'shared/guide_left_navigation' %>
    <%= render 'shared/article_left_navigation' %>
  </div>
</div>

