<% content_for :meta_title, "'Les aides et les financements pour votre travaux de toiture' : lisez l'article sur #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "Vous pouvez obtenir des aides et des facilités de financement pour vos travaux. Revue des solutions !" %>
<% content_for :meta_image, "euros.jpg" %>

<%= render 'shared/fix_cta' %>
<%= render 'shared/guides_top_banner' %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <div class='guide-page'>

        <ol class="breadcrumb">
          <li><a href="/">Accueil</a></li>
          <li><%= link_to "Les guides", guides_path %></li>
          <li><%= link_to "La toiture", la_toiture_guide_index_path %></li>
          <li class="active">Les aides et les financements pour vos travaux de toiture</li>
        </ol>

        <%= render 'shared/share_links' %>

        <header>
          <h1 itemprop="headline" class="text-center">Les aides et les financements</h1>
        </header>
        <p class='italic'>Vous pouvez obtenir des aides et des facilités de financement pour vos travaux. Revue des solutions :</p>

        <h2>Financer ses travaux</h2>

        <p>Le financement d'une toiture est un investissement immobilier et votre banquier peut vous octoyer les mêmes conditions avantageuses, sachez profiter des taux qui restent bas ! Une rénovation peut faire baisser les dépenses de chauffage de manière substantielle ce qui jouera dur votre qualité de crédit.<p>

        <h2>Les aides à la rénovation</h2>

        <h3>Les aides de l'Etat à la rénovation énergétique</h3>
        <p>Dans le cadre de sa politique de transition énergétique, l'Etat subventionne les travaux visant à améliorer l'efficacité énergétique des logements. Le toit étant le premier poste pour améliorer l'efficience énergétique du logement, une multitude d'aide existent dont certaines reservées aux ménages ayant de faibles revenus.</p>
        <ul>
          <li> <%= link_to "le site de l'ANAH", 'http://www.anah.fr/' %></li>
          <li> <%= link_to 'le site economie.gouv', 'https://www.economie.gouv.fr/particuliers/aides-renovation-energetique' %></li>
          <li><%= link_to 'le site renovation-info-service', 'http://www.renovation-info-service.gouv.fr/mes-aides-financieres' %></li>
          <li><%= link_to 'le site quelleenergie.fr', 'https://www.quelleenergie.fr' %></li>
        </ul>

        <h3>Les aides de l'Etat dans le cadre de la protection du patrimoine</h3>
        <p>Les rénovations des bâtiments ayant un intérêt historique ou architectural peuvent être soutenues par la fondation du Patrimoine ou par les Monuments Historiques.  </p>
        <ul>
          <li> <%= link_to "le site de la fondation du patrimoine", 'https://www.fondation-patrimoine.org/' %></li>
          <li> <%= link_to 'le site de la fondation pour les monuments historiques', 'http://fondationmh.fr/' %></li>
        </ul>

      </div>
    </div>
    <%= render 'shared/guide_left_navigation' %>
  </div>
</div>


<%= render 'shared/guides_top_banner' %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <div class='article-page'>
        <ol class="breadcrumb">
          <li><a href="#">Accueil</a></li>
          <li><a href="#">Guides</a></li>
          <li class="active">La toiture</li>
        </ol>

         <div class="share-links">

           <h6 class="left-navigation-title">PARTAGER CETTE PAGE</h6>

            <a href="#" class="share-link bg-facebook">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="#" class="share-link bg-twitter">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="#" class="share-link bg-email">
              <i class="fa fa-google"></i>
            </a>
            <a href="#" class="share-link bg-text">
              <i class="fa fa-envelope-o"></i>
            </a>
        </div>
        <header>
        <h1 class="text-center">Toiture introduction</h1>
        <p class="italic">La toiture est un  élément essentiel de votre logement pour plusieurs raisons :</p>
        <ul>
          <li>elle vous abrite du froid, de l’humidité, de la pluie, etc.</li>
          <li>C’est une zone de vie avec les terrasses, les combles qui peuvent être aménagés.</li>
          <li>C’est une zone d’énergie avec des panneaux solaires.</li>
          <li>C’est un perchoir potentiel pour admirer le paysage.</li>
        </ul>
      </div>
    </div>
    <%= render 'shared/guide_left_navigation' %>
    <%= render 'shared/article_left_navigation' %>
  </div>

</div>


