<%= render 'shared/magazine_top_banner' %>


<% content_for :meta_title, "#{@article.title} sur #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @article.card_summary %>
<% content_for :meta_image, cloudinary_url(@article.photo_presentation) %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <div class='article-page'>

        <ol class="breadcrumb">
          <li><a href="/">Accueil</a></li>
          <li><%= link_to "Magazine", articles_path %></li>
          <li><%= link_to @article.category.name, root_path %></li>
          <li class="active"><%= @article.title %></li>
        </ol>

        <div class="share-links">
          <div
            class="fb-like"
            data-layout="standard"
            data-share="true"
            data-action="like"
            class="share-link bg-facebook"
            data-width="450"
            data-show-faces="true">
          </div>
        </div>

        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.9&appId=1610742872283439";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <header>
          <h1 itemprop="headline" class="text-center"><%=  @article.title %></h1>
        </header>
        <span>Publié le <%= (I18n.localize @article.created_at.to_date, formats: :classical).capitalize %> par <%= @article.user.first_name %>, <%= @article.user.company %></span>
        <p class="italic"><%= @article.summary %></p>


        <figure class="figure-article">
            <%= cl_image_tag @article.photo_presentation.path, height: 567, width: 850, crop: :fill %>
          <figcaption></figcaption>
        </figure>

        <%= kramdown(@article.body) %>
        <% if @article.second_photo != nil %>
        <figure class="figure-article">
            <%= cl_image_tag @article.second_photo.path, height: 567, width: 850, crop: :fill  %>
          <figcaption></figcaption>
        </figure>
        <% end %>

      </div>
    </div>
    <%= render 'shared/article_left_navigation' %>
 </div>
</div>


