<% content_for :meta_title, "#{@article.title} sur #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @article.card_summary %>
<% content_for :meta_image, cloudinary_url(@article.photo_presentation) %>

<%= render 'shared/magazine_top_banner' %>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <div class='article-page'>

        <ol class="breadcrumb">
          <li><a href="/">Accueil</a></li>
          <li><%= link_to "Magazine", articles_path %></li>
          <li><%= link_to @article.category, root_path %></li>
          <li class="active"><%= @article.title %></li>
        </ol>

        <%= render 'shared/share_links' %>
        <div style="margin-top: 40px;">
          <% if @article.user_id == current_user.id %>
            <%= link_to "Modifier mon article", edit_article_path(@article) %>
          <% end %>
        </div>
        <header>
          <h1 itemprop="headline" class="text-center"><%=  @article.title %></h1>
        </header>
        <span>Publié le <%= (I18n.localize @article.created_at.to_date, formats: :classical).capitalize %>
        <% if @article.user != nil %>
        par <%= @article.user.first_name %>, <%= @article.user.company %>
        <% end %>
        </span>
        <p class="italic"><%= @article.summary %></p>


        <figure class="figure-article">
            <%= cl_image_tag @article.photo_presentation.path, height: 567, width: 850, crop: :fill %>
          <figcaption></figcaption>
        </figure>

        <%= kramdown(@article.body) %>
        <% if @article.second_photo != nil %>
        <figure class="figure-article">
            <%= cl_image_tag @article.second_photo.path, height: 567, width: 850, crop: :fill  %>
          <figcaption></figcaption>
        </figure>
        <% end %>

      </div>
    </div>
    <%= render 'shared/article_left_navigation' %>
 </div>
</div>


