<%= render 'shared/magazine_top_banner' %>


<% content_for :meta_title, "#{@article.title} sur #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @article.card_summary %>
<% content_for :meta_image, cloudinary_url(@article.photos.path) %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <div class='article-page'>

        <ol class="breadcrumb">
          <li><a href="/">Accueil</a></li>
          <li><%= link_to "Magazine", articles_path %></li>
          <li><%= link_to @article.category.name, root_path %></li>
          <li class="active"><%= @article.title %></li>
        </ol>


        <div
          class="fb-like"
          data-share="true"
          class="share-link bg-facebook"
          data-width="450"
          data-show-faces="true">
        </div>

         <div class="share-links">
            <a href="#" class="share-link bg-facebook">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="#" class="share-link bg-twitter">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="#" class="share-link bg-email">
              <i class="fa fa-google"></i>
            </a>
            <a href="#" class="share-link bg-text">
              <i class="fa fa-envelope-o"></i>
            </a>
        </div>
        <header>
          <h1 itemprop="headline" class="text-center"><%=  @article.title %></h1>
        </header>
        <span>Publié le <%= (I18n.localize @article.created_at.to_date, formats: :classical).capitalize %> par <%= @article.user.first_name %>, <%= @article.user.company %></span>
        <p class="italic"><%= @article.summary %></p>


        <figure class="figure-article">
          <% @article.photos.each do |photo| %>
            <%= cl_image_tag photo.path %>
          <% end %>
          <figcaption></figcaption>
        </figure>

        <%= kramdown(@article.body) %>

      </div>
    </div>
    <%= render 'shared/article_left_navigation' %>
 </div>
</div>


