<%= render 'shared/guides_top_banner' %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <div class='guide-page'>

        <ol class="breadcrumb">
          <li><a href="/">Accueil</a></li>
          <li><%= link_to "Les guides", guides_path %></li>
          <li><%= link_to "La charpente", la_charpente_guide_index_path %></li>
          <li class="active">La charpente en béton</li>
        </ol>

        <%= render 'shared/share_links' %>
        <header>
          <h1 itemprop="headline" class="text-center">La charpente en béton</h1>
        </header>
        <p class="italic">Les charpentes en béton ont été boudées pour les constructions de logements individuels alors qu’elles s’imposaient sur de nombreux ouvrages industriels. Ses qualités de résistances exceptionnelles en font le choix le plus pertinent pour constuire un toit terrasse !</p>

        <figure class="figure-article">
          <%= image_tag "charpente_beton.jpg", class:"img-responsive" %>
          <figcaption></figcaption>
        </figure>

        <h2>Types de béton</h2>
        <p>Il existe trois types de béton disponibles :</p>
        <ul>
          <li>le béton précontraint (pour les poutres renforcées en acier)</li>
          <li>le béton armé</li>
          <li>le béton léger</li>
        </ul>


            <h2>Avantages/inconvénients</h2>

        <h3>Avantages</h3>

        <ul>
          <li>+ solidité</li>
          <li>+ résistance au feu</li>
          <li>+ parfait pour un toit terrasse</li>
        </ul>

        <h3>Inconvénients</h3>
        <ul>
          <li>- peut enlever son charme à un bâtiment ancien</li>
        </ul>

        <h3>Prix à l’achat</h3>
        <p>A partir de 100 € le mètre carré.</p>

        <h3>Entretien</h3>
        <p>Vérification des fissures tous les 20 à 30 ans.</p>

      </div>
    </div>
    <%= render 'shared/guide_left_navigation' %>
 </div>
</div>

