
<!-- Edit pro ou institution -->
<% if current_user.pro? || current_user.institution? %>

  <div class="banner">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-profile-submit">
          <%= link_to user_path(current_user), class: "navbar-wagon-button btn-edit-profil" do %>
            <span>Voir ma page de profil</span>
          <% end %>
          <%= link_to mes_articles_articles_path, class: "navbar-wagon-button btn-edit-profil" do %>
            <span>Gérer mes articles</span>
          <% end %>
          <%= link_to new_project_path(current_user), class: "navbar-wagon-button btn-edit-profil" do %>
            <span>Gérer mes projets / réalisations</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <h4 class="text-center">Les champs marqués d'une * sont obligatoires.</h4>
  <h5 class="text-center">Prenez les 5 minutes nécessaires pour remplir au mieux votre profil, plus celui-ci sera riche en contenu plus il sera visible sur internet.</h5>

  <%= simple_form_for(@user, url: user_path(@user.id)) do |f| %>

    <% if @user.errors.present? %>
        <div class="alert alert-warning alert-dismissible">
          <p class="text-center">Merci de corriger les erreurs ci dessous</p>
        </div>
    <% end %>

    <div class="pro-instit-form">
      <!-- infos générales -->
      <div class="container underline-title-container-edit-user ">
        <h3>Informations générales</h3>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-3">
            <%= f.input :company, required: true %>
            <%= f.input :first_name, required: true %>
            <%= f.input :last_name, required: true %>
          </div>
          <div class="col-xs-12 col-md-3 col-md-offset-1">
            <%= f.input :address, required: true %>
            <%= f.input :city, required: true %>
            <%= f.input :zip_code, required: true %>
          </div>
          <div class="col-xs-12 col-md-3 col-md-offset-1">
            <%= f.input :email, required: true %>
            <%= f.input :office_phone, required: true %>
            <%= f.input :mobile_phone %>
          </div>
        </div>
        <div class="row specialites-form">
          <% if @user.pro? %>
            <div class="col-xs-12 col-md-4 col-md-offset-4" id="radius-input">
              <%= f.input :radius, input_html: {value: '100'}, placeholder:"périmètre d'action autour de votre adresse" %>
            </div>
          <% end %>
        </div>
      </div>

      <!-- spécialités -->
      <% if @user.pro? %>
        <div class="container underline-title-container-edit-user ">
          <h3>Spécialités</h3>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-md-4 col-profile-style-check-box">
              <div>
                <p class="form-title-custom">* Métiers (au moins 1)</p>
                <% if @user.errors[:plomberie].present? %>
                  <p class="errors">Sélectionnez au moins 1 métier</p>
                <% end %>
                <div class="checkbox_form">
                  <span> <%= f.check_box :architecte  %> Architecte - Bureau d'études </span>
                  <span> <%= f.check_box :couverture  %> Couverture </span>
                  <span> <%= f.check_box :charpente  %> Charpente </span>
                  <span> <%= f.check_box :isolation  %> Isolation </span>
                  <span> <%= f.check_box :plomberie  %> Zinguerie </span>
                  <span> <%= f.check_box :ouverture  %> Fenêtre - Ouverture </span>
                  <span> <%= f.check_box :terrasse  %> Terrasse - Vérandas </span>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-3 col-md-offset-1 col-profile-style-check-box">
              <p class="form-title-custom">* Type de batiment (au  moins 1)</p>
              <% if @user.errors[:maison].present? %>
                <p class="errors">Sélectionnez au moins 1 type de batiment</p>
              <% end %>
              <div class="checkbox_form">
                <span> <%= f.check_box :maison  %> Maisons </span>
                <span> <%= f.check_box :chateau  %> Patrimoine ancien </span>
                <span> <%= f.check_box :immeuble  %> Immeubles </span>
                <span> <%= f.check_box :locaux_industriels  %> Locaux industriels </span>
                <span> <%= f.check_box :batiment_agricole  %> Bâtiments agricoles </span>
              </div>
            </div>
            <div class="col-xs-12 col-md-3 col-md-offset-1 col-profile-style-check-box">
              <p class="form-title-custom">Vos labels</p>
              <div class="checkbox_form">
                <span> <%= f.check_box :ffb  %> Fédération Francaise du Batiment </span>
                <span> <%= f.check_box :capeb  %> Capeb </span>
                <span> <%= f.check_box :rge  %> RGE </span>
                <span> <%= f.check_box :rge_eco_artisan  %> Rge Eco Artisan </span>
                <span> <%= f.check_box :qualibat  %> Qualibat </span>

                <span> <%= f.check_box :mh  %> Groupement français des entreprises de restauration de monuments historiques </span>
                <span> <%= f.check_box :epv  %> Entreprise du Patrimoine Vivant </span>
                <span> <%= f.check_box :mof  %> Meilleur Ouvrier de France </span>
                <span> <%= f.check_box :mof  %> Artisan </span>
                <span> <%= f.check_box :mof  %> Maître Artisan </span>
                <span> <%= f.check_box :mof  %> Artisan d'Art </span>
              </div>
            </div>
          </div>

          <div class="row specialites-form">
            <div class="col-xs-12 col-md-12 col-profile-style-check-box">
              <p class="form-title-custom">Vous pouvez ajouter une ou plusieurs spécialités ci-dessous</p>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-4">
              <%= f.input :specialite1, collection: [
                "Architecte du patrimoine - Ecole Chaillot",
                "Architecte conseil des Parcs Naturels Régionaux",
                "Architecte conseil des Conseils d'architecture, d'urbanisme et d'environnement (CAU) ",
                "Architecte en chef des Monuments historiques",
                "Architecte des Bâtiments de France",
                "Architecte en surélévation",
                "Bureau d'études en charpente",
                "Bureau d'études rénovation construction toiture",
                "Charpente",
                "Charpente traditionnelle en bois",
                "Charpente en lamellé collé",
                "Charpente à fermettes industrielles",
                "Charpente en métal",
                "Charpente en béton",
                "Construction à pan de bois, colombage",
                "Couverture",
                "Couverture en ardoise naturelle",
                "Couverture en ardoise",
                "Couverture en tuile",
                "Couverture en tuile plate",
                "Couverture en tuile plate vernissée",
                "Couverture en tuile canal",
                "Couverture en tuile à emboitement",
                "Couverture en chaume",
                "Couverture en lauze",
                "Couverture en zinc",
                "Couverture en bardeaux de bois",
                "Fenêtre de toit",
                "Installateur Photovoltaïque",
                "Isolation des combles perdus",
                "Isolation des combles aménagés",
                "Isolation par l'extérieur - Sarking",
                "Production de bardeaux de bois",
                "Production de tuile, tuilerie",
                "Production de tuile, tuilerie artisanale",
                "Production d'ardoise, ardoisier",
                "Ornemaniste",
                "Ornemaniste Maître d'Art",
                "Rénovation du bâti ancien",
                "Rénovation globale",
                "Travaux de zinguerie"
                ] %>
            </div>
            <div class="col-xs-12 col-md-4">
              <%= f.input :specialite2, collection: [
                "Architecte du patrimoine - Ecole Chaillot",
                "Architecte conseil des Parcs Naturels Régionaux",
                "Architecte conseil des Conseils d'architecture, d'urbanisme et d'environnement (CAU) ",
                "Architecte en chef des Monuments historiques",
                "Architecte des Bâtiments de France",
                "Architecte en surélévation",
                "Bureau d'études en charpente",
                "Bureau d'études rénovation construction toiture",
                "Charpente",
                "Charpente traditionnelle en bois",
                "Charpente en lamellé collé",
                "Charpente à fermettes industrielles",
                "Charpente en métal",
                "Charpente en béton",
                "Construction à pan de bois, colombage",
                "Couverture",
                "Couverture en ardoise naturelle",
                "Couverture en ardoise",
                "Couverture en tuile",
                "Couverture en tuile plate",
                "Couverture en tuile plate vernissée",
                "Couverture en tuile canal",
                "Couverture en tuile à emboitement",
                "Couverture en chaume",
                "Couverture en lauze",
                "Couverture en zinc",
                "Couverture en bardeaux de bois",
                "Fenêtre de toit",
                "Installateur Photovoltaïque",
                "Isolation des combles perdus",
                "Isolation des combles aménagés",
                "Isolation par l'extérieur - Sarking",
                "Production de bardeaux de bois",
                "Production de tuile, tuilerie",
                "Production de tuile, tuilerie artisanale",
                "Production d'ardoise, ardoisier",
                "Ornemaniste Maître d'Art",
                "Rénovation du bâti ancien",
                "Rénovation globale",
                "Travaux de zinguerie"
                ]  %>
            </div>
            <div class="col-xs-12 col-md-4">
              <%= f.input :specialite3, collection: [
                "Architecte du patrimoine - Ecole Chaillot",
                "Architecte conseil des Parcs Naturels Régionaux",
                "Architecte conseil des Conseils d'architecture, d'urbanisme et d'environnement (CAU) ",
                "Architecte en chef des Monuments historiques",
                "Architecte des Bâtiments de France",
                "Architecte en surélévation",
                "Bureau d'études en charpente",
                "Bureau d'études rénovation construction toiture",
                "Charpente",
                "Charpente traditionnelle en bois",
                "Charpente en lamellé collé",
                "Charpente à fermettes industrielles",
                "Charpente en métal",
                "Charpente en béton",
                "Construction à pan de bois, colombage",
                "Couverture",
                "Couverture en ardoise naturelle",
                "Couverture en ardoise",
                "Couverture en tuile",
                "Couverture en tuile plate",
                "Couverture en tuile plate vernissée",
                "Couverture en tuile canal",
                "Couverture en tuile à emboitement",
                "Couverture en chaume",
                "Couverture en lauze",
                "Couverture en zinc",
                "Couverture en bardeaux de bois",
                "Fenêtre de toit",
                "Installateur Photovoltaïque",
                "Isolation des combles perdus",
                "Isolation des combles aménagés",
                "Isolation par l'extérieur - Sarking",
                "Production de bardeaux de bois",
                "Production de tuile, tuilerie",
                "Production de tuile, tuilerie artisanale",
                "Production d'ardoise, ardoisier",
                "Ornemaniste Maître d'Art",
                "Rénovation du bâti ancien",
                "Rénovation globale",
                "Travaux de zinguerie"
                ]  %>
            </div>
          </div>
        </div>
      <% end %>

      <!-- description et photos -->
      <div class="container underline-title-container-edit-user ">
        <h3>Description et photos</h3>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-7 description-col">
            <%= f.input :description, placeholder: "Décrivez votre société, depuis quand existe t'elle, qu'elles sont vos spécialités, vos plus belles rélisations, le nombre de salariés etc...", required: true, hint:"Entre 200 et 600 charactères" %>
            <div class="text-right counter-style">
              <span id="description-count"><strong></strong></span><span> charactères </span>
            </div>
          </div>
          <div class="col-xs-12 col-md-3 col-md-offset-1">
            <%= f.input :photo_presentation, as: :attachinary, required: true, hint: "Une belle photo d'un chantier ou d'une réalisation" %>
          </div>
          <div class="col-xs-12 col-md-3 col-md-offset-1">
            <%= f.input :photo_company_logo, as: :attachinary, required: true, hint: "Si vous n'avez pas de logo, vous pouvez aussi mettre votre photo" %>
          </div>
        </div>
      </div>


      <!-- communication et réseaux -->
      <div class="container underline-title-container-edit-user ">
        <h3>Communication digitale</h3>
      </div>
      <div class="container container-communication">
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <%= f.input :website, error: "Le lien doit commencer par http:// ou https://", hint: "format : http://www..."  %>
          </div>
          <div class="col-xs-12 col-md-4">
            <span>Votre page Facebook</span><i class="fa fa-facebook-official" aria-hidden="true"></i>
            <%= f.input :facebook, label: false, error: "Format demandé : https://www.facebook.com/...", hint: "format : https://www.facebook.com/..." %>
          </div>
          <div class="col-xs-12 col-md-4">
              <span>Votre profil Twitter</span><i class="fa fa-twitter" aria-hidden="true"></i>
            <%= f.input :twitter, label: false, error: "Le lien doit commencer par http:// ou https://", hint: "format : https://www.twitter.com/..."  %>
          </div>
        </div>
      </div>


      <div class="container underline-title-container-edit-user ">
        <h3>Revue de presse</h3>
      </div>
      <div class="container container-communication">
        <div class="row">
          <div class="col-xs-12 col-md-12 press-link-col">
            <% if @user.errors[:press_link_title_1].present? %>
              <div class="link-press-md">
                <p class="errors">Un lien presse doit être accompagné d'un</p>
              </div>
            <% end %>
            <div class="link-press-md">
              <%= f.input :press_link_1, placeholder: "http://www.ouest-france.fr/pays-de-la-loire/laval-53000/ils-se-lancent-dans-la-renovation-du-bati-ancien-3088381", error: "Le lien doit commencer par http:// ou https://" %>
              <%= f.input :press_link_title_1, placeholder: "Article OUEST FRANCE - histoire Art et Nov" %>
            </div>
            <% if @user.errors[:press_link_title_2].present? %>
              <div class="link-press-md">
                <p class="errors">Un lien presse doit être accompagné d'un</p>
              </div>
            <% end %>
            <div class="link-press-md">
              <%= f.input :press_link_2, error: "Le lien doit commencer par http:// ou https://" %>
              <%= f.input :press_link_title_2 %>
            </div>
            <% if @user.errors[:press_link_title_3].present? %>
              <div class="link-press-md">
                <p class="errors">Un lien presse doit être accompagné d'un</p>
              </div>
            <% end %>
            <div class="link-press-md">
              <%= f.input :press_link_3, error: "Le lien doit commencer par http:// ou https://" %>
              <%= f.input :press_link_title_3 %>
            </div>
          </div>
        </div>
      </div>


      <div class="container text-center">
        <%= f.button :submit, "Mettre à jour mon profil", class: "btn btn-success" %>
      </div>

    </div>
  <% end %>

<!-- edit worker -->
<% else %>

  <div class="container container-edit-worker">
    <div class="row">
       <div class="col-xs-12 col-md-6">
        <%= simple_form_for(@user) do |f| %>
          <h5>Mes informations personnelles</h5>
          <%= f.input :first_name, autofocus: true %>
          <%= f.input :last_name %>
          <%= f.input :address %>
          <%= f.input :city, required: true %>
          <%= f.input :zip_code, required: true %>
          <%= f.input :office_phone, required: true %>
          <%= f.input :email, required: true %>
          <%= f.hidden_field :company, :value => "Candidat" %>
          <!--  <#%= f.input :company, label: "statut", hint: "freelance, diplomé, en recherche d'emploi", placeholder: "Jeune diplômé", required: true %> -->

          <div id="position_btn_project" class="text-center">
            <%= f.button :submit, "Mettre à jour mes informations", class: "navbar-wagon-button" %>
          </div>
        <% end %>
      </div>
      <!-- <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
        <#%= simple_form_for(@user) do |f| %>
          <#%= f.input :email, presence: true %>
          <#%= f.input :mobile_phone, presence: true %>
          <#%= f.input :first_name, presence: true %>
          <#%= f.input :last_name, presence: true %>
          <#%= f.input :address, presence: true %>
          <div class="flexbox-form-edit-worker">
            <#% if @user.errors[:couvreur].present? %>
              <p class="errors">Sélectionnez au moins 1 métier</p>
            <#% end %>
            <label><#%= f.check_box :couvreur %><span>couvreur</span></label>
            <label><#%= f.check_box :charpentier %><span>charpentier</span></label>
          </div>
          <#%= f.button :submit, "Mettre à jour mes informations", class: "navbar-wagon-button" %>
        <#% end %>
      </div> -->
    </div>
  </div>

<% end %>
