<h2>EDIT</h2>


<%= simple_form_for (@user) do |f| %>
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>
    <%= f.input :company %>
    <%= f.input :address %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :position %>
    <%= f.input :office_phone %>
    <%= f.input :mobile_phone %>
    <%= f.input :description %>
    <%= f.submit "Mettre a jour", class: "btn btn-primary" %>
<% end %>
