
<!-- Edit pro ou institution -->
<% if current_user.pro? || current_user.institution? %>


  <h3 class="profile-title text-center" >Votre profil</h3>


  <div class="banner banner-edit-profile">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-profile-submit">
          <%= link_to user_path(current_user), class: "navbar-wagon-button btn-edit-profil" do %>
            <span>Voir ma page de profil</span>
          <% end %>
          <%= link_to mes_articles_articles_path, class: "navbar-wagon-button btn-edit-profil" do %>
            <span>Gérer mes articles</span>
          <% end %>
          <%= link_to new_project_path(current_user), class: "navbar-wagon-button btn-edit-profil" do %>
            <span>Gérer mes projets / réalisations</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>


  <div class="container profile-container">
  <h3 class="text-center">Modifier mes informations</h3>
  <%= simple_form_for(@user) do |f| %>
    <div class="row profile-first-row">
      <!-- Card infos de la société -->
      <div class="col-xs-12 col-md-4 col-profile-style">
        <%= f.input :company, required: true %>
        <%= f.input :address, required: true %>
        <%= f.input :city, required: true %>
        <%= f.input :zip_code, required: true %>
        <% if @user.pro? %>
          <%= f.input :radius, input_html: {value: '100'}, placeholder:"périmètre d'action autour de votre adresse" %>
        <% end %>
      </div>
      <div class="col-xs-12 col-md-4 col-profile-style">
        <%= f.input :first_name, required: true %>
        <%= f.input :last_name, required: true %>
        <%= f.input :email, required: true %>
        <%= f.input :office_phone, required: true %>
        <%= f.input :mobile_phone %>
        <%= f.input :facebook, placeholder:"www.facebook.com/LesToitures/" %>
      </div>
      <% if @user.pro? %>
        <div class="col-xs-12 col-md-4 col-profile-style-check-box">
        <div>
          <p>Spécialités</p>
          <% if @user.errors[:plomberie].present? %>
            <p class="errors">Sélectionnez au moins 1 spécialité</p>
          <% end %>
          <div class="checkbox_form">
            <span>
              <%= f.check_box :couverture  %>
              Couverture - Isolation
            </span>
            <span>
              <%= f.check_box :ouverture  %>
              Fenêtre - Ouverture
            </span>
            <span>
              <%= f.check_box :terrasse  %>
              Terrasse - Balcon
            </span>
            <span>
              <%= f.check_box :plomberie  %>
              Fuites - Eaux usées
            </span>
            <span>
              <%= f.check_box :charpente  %>
              Charpente
            </span>
          </div>
        </div>
        <div>
          <p>Type de batiment</p>
          <% if @user.errors[:maison].present? %>
            <p class="errors">Sélectionnez au moins 1 type de batiment</p>
          <% end %>
          <div class="checkbox_form">
            <span>
              <%= f.check_box :maison  %>
              Maisons
            </span>
            <span>
              <%= f.check_box :chateau  %>
              Chateaux
            </span>
            <span>
              <%= f.check_box :immeuble  %>
              Immeubles
            </span>
            <span>
              <%= f.check_box :locaux_industriels  %>
              Locaux industriels
            </span>
          </div>
        </div>
        <div>
          <p>Labels</p>
          <div class="checkbox_form">
            <span>
              <%= f.check_box :rge  %>
              RGE
            </span>
            <span>
              <%= f.check_box :qualibat  %>
              Qualibat
            </span>
            <span>
              <%= f.check_box :ffb  %>
              Fédération Francaise du Batiment
            </span>
            <span>
              <%= f.check_box :mh  %>
              Groupement français des entreprises de restauration de monuments historiques
            </span>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6 description-col">
        <%= f.input :description, placeholder: "Décrivez votre société, depuis quand existe t'elle, sa taille, son CA, le nombre de salariés, qu'elles sont vos spécialités...", required: true, hint:"Entre 300 et 900 charactères" %>
        <span id="description-count"><strong></strong></span><span> sur 900 charactères </span>
      </div>
      <div class="col-xs-12 col-md-5 col-md-offset-1 col-profile-style">
        <span> <%= f.input :photo_company_logo, as: :attachinary %> </span>
        <span> <%= f.input :photo_presentation, as: :attachinary %> </span>
        <%= f.button :submit, "Mettre à jour mon profil", class: "btn btn-success" %>
      </div>
    </div>
  <% end %>
  </div>

<!-- edit worker -->
<% else %>

  <div class="container container-edit-worker">
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
        <%= simple_form_for(@user) do |f| %>
          <%= f.input :email, presence: true %>
          <%= f.input :mobile_phone, presence: true %>
          <%= f.input :first_name, presence: true %>
          <%= f.input :last_name, presence: true %>
          <%= f.input :address, presence: true %>
          <div class="flexbox-form-edit-worker">
            <% if @user.errors[:couvreur].present? %>
              <p class="errors">Sélectionnez au moins 1 métier</p>
            <% end %>
            <label><%= f.check_box :couvreur %><span>couvreur</span></label>
            <label><%= f.check_box :charpentier %><span>charpentier</span></label>
          </div>
          <%= f.input :cv, as: :attachinary, required: true %>
          <%= f.input :photo, as: :attachinary, required: true %>
          <%= f.button :submit, "Mettre à jour mes informations", class: "navbar-wagon-button" %>
        <% end %>
      </div>
    </div>
  </div>

<% end %>
