<div class="banner">
  <div class="container">
    <% if current_user.pro? %>
      <div class="row">
        <div class="col-xs-12">
          <h1 class="text-center">Bienvenue dans votre espace emploi</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-profile-submit">
          <h3 class="text-center">Les annonces de recherche d'emploi</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-profile-submit">
          <%= link_to job_ads_path, class: "navbar-wagon-button btn-edit-profil" do %>
            <span>Accéder à la cvthèque</span>
          <% end %>

          <%= link_to mon_annonce_job_ads_path(current_user), class: "navbar-wagon-button btn-edit-profil" do %>
            <span>Gérer mon annonce d'emploi</span>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-profile-submit">
          <h3 class="text-center">Les offres d'emploi</h3>
           <!--  <#% if @job_offers.count > 1 %>
              <p>Vous avez déjà créé <#%= @job_offers.count %> offres d'emploi. Vous pouvez les modifier ou les supprimer.</p>
            <#% elsif @job_offers.count = 1 %> %>
              <p>Vous avez déjà créé une offre d'emploi. Vous pouvez la modifier, la supprimer et/ou en créer d'autres.</p>
            <#% else %>
              <p>Vous n'avez pas encore créer d'offre d'emploi. Vous pouvez en créer une.</p>
            <#% end %> -->
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-profile-submit">
          <%= link_to job_offers_path, class: "navbar-wagon-button btn-edit-profil" do %>
            <span>Les offres d'emploi</span>
          <% end %>

          <%= link_to mes_offres_job_offers_path(current_user), class: "navbar-wagon-button btn-edit-profil" do %>
            <span>Gérer mon offre d'emploi</span>
          <% end %>
        </div>
      </div>
    <% end %>
      <% if current_user.worker? %>
        <br>
        <h1 class="text-center"> <%= current_user.first_name %>, bienvenue votre espace emploi.</h1>
        <br>
        <h5>Vous pouvez accéder actuellement à 2 services :</h5>
        <br>
        <ul>
          <li>Accéder à la cvthèque pour regarder votre cv</li>
          <li>Déposer un cv / proposition d'emploi</li>
        </ul>

        <!-- Boutons -->
        <div class="banner">
          <div class="container">
            <div class="row">
              <div class="col-xs-12 col-profile-submit">

                <%= link_to job_ads_path, class: "navbar-wagon-button btn-edit-profil" do %>
                  <span>Accéder à la cvthèque</span>
                <% end %>

                <%= link_to edit_user_path(current_user), class: "navbar-wagon-button btn-edit-profil" do %>
                 <span>éditer mon profil</span>
                <% end %>

                <% if current_user.job_ad %>
                  <%= link_to edit_job_ad_path(current_user), class: "navbar-wagon-button btn-edit-profil" do %>
                    <span>éditer mon annonce d'emploi</span>
                  <% end %>

                <% else %>
                  <%= link_to new_job_ad_path(current_user), class: "navbar-wagon-button btn-edit-profil" do %>
                   <span>créer une annonce d'emploi</span>
                  <% end %>

                <% end %>


              </div>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
