<% content_for :meta_title, "#{@user.company} est sur #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @user.description %>
<% if @user.pro? && @user.photo_presentation != nil %>
  <% content_for :meta_image, cloudinary_url(@user.photo_presentation.path) %>
<% end %>

<!-- Facebook script sdk pour plugin facebook -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.10&appId=280300842435044";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- Fin du script facebook -->


<!-- wrapper photo form -->
<div class="wrapper hidden-xs">
  <div class="wrapper_users_show">
    <div class="banner">
      <div class="banner-show">
        <% if @user.photo_presentation? %>
          <%= cl_image_tag @user.photo_presentation.path, width: 1440, height: 607, crop: :fill %>
        <% else %>
          <%= image_tag "user_base_pic.png" %>
        <% end %>
      </div>
    </div>
    <div class="user-company"></div>
    <div class="logoname">
      <% if @user.photo_company_logo  %>
        <%= cl_image_tag @user.photo_company_logo.path, height: 80, width:80, crop: :fill %>
      <% end %>
      <h3><%= @user.company %></h3>
      <span id="cpy-address"><%= @user.address %></span>
      <div class="phone-mail-banner">
        <div>
          <span>Contact : <%= @user.first_name %> <%= @user.last_name %></span>
        </div>
        <div>
          <i class="fa fa-phone" aria-hidden="true"></i><%= format_phone_number(@user.office_phone) %>
        </div>
        <div>
          <i class="fa fa-envelope" aria-hidden="true"></i><%= mail_to @user.email %>
        </div>
      </div>
    </div>
    <div class="form-container">
      <ul class="nav nav-tabs ul-position text-center" role="tablist">
        <li role="presentation" class="inactif"><a href="#phone" aria-controls="phone" role="tab" data-toggle="tab"><i class="fa fa-phone" aria-hidden="true"></i><i class="fa-text"> Téléphone</i></a></li>
        <li role="presentation" class="active inactif"><a href="#message" aria-controls="message" role="tab" data-toggle="tab"><i class="fa fa-envelope" aria-hidden="true"></i><i class="fa-text"> Email</i></a></li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="phone">
          <p class="text-center" id="office_phone"><%= @user.office_phone %></p>
          <p class="text-center form-title">Désirez vous être rappelé(e)?</p>
          <%= simple_form_for(@client) do |f| %>
            <%= f.input :user_id, as: :hidden, input_html: { value: @user.id } %>
            <%= f.input :last_name, placeholder: "Votre nom", label: false %>
            <%= f.input :email, placeholder: "Votre email", label: false %>
            <%= f.input :phone_number, placeholder: "Votre téléphone", label: false %>
            <%= f.button :submit, "Envoyer", :class => "button-message" %>
          <% end %>
        </div>
        <div role="tabpanel" class="tab-pane active" id="message">
          <div id="form-message">
            <p class="text-center form-title">Sollicitez nous par email</p>
            <%= simple_form_for(@client) do |f| %>
              <%= f.input :user_id, as: :hidden, input_html: { value: @user.id } %>
              <%= f.input :message, as: :text, placeholder: "Décrivez votre besoin", label: false %>
              <%= f.input :last_name, placeholder: "Votre nom", label: false %>
              <%= f.input :email, placeholder: "Votre email", label: false %>
              <%= f.input :phone_number, placeholder: "Votre téléphone", label: false %>
              <%= f.button :submit, "Envoyer", :class => "button-message" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center hidden-xs">
  <i class="fa fa-chevron-down fa-3x" aria-hidden="true"></i>
</div>

<div class="container underline-title-container">
  <% if @user == current_user %>
    <h3> Notre société
      <%= link_to edit_user_path(current_user), class: "small-yellow-link" do %>
        <span> Modifier les informations de la société</span>
      <% end %>
    </h3>
  <% elsif %>
    <h3>Notre société</h3>
  <% end %>
</div>
<div class="container">
  <div class="description-container">
    <div class="row">
      <div class="description-row">
        <div class="col-xs-12 col-md-6">
          <div class="user-description">
            <%= kramdown(@user.description) %>
          </div>
        </div>
        <% if @user.pro? %>
          <div class="col-xs-12 visible-xs">
            <div class="labels-show">
              <% if @user.rge == true %>
                <%= image_tag "rge.png" %>
              <% end %>
              <% if @user.qualibat == true %>
                <%= image_tag "qualibat.png" %>
              <% end %>
              <% if @user.ffb == true %>
                <%= image_tag "ffb.png" %>
              <% end %>
              <% if @user.mh == true %>
                <%= image_tag "gmh.png" %>
              <% end %>
            </div>
          </div>

          <div class="col-xs-12 col-md-6">
            <div class="skills-column">

              <div class="labels-show hidden-xs">
                <% if @user.rge == true %>
                  <a id="popoverRge" data-content="Professionnel Reconnu Garant de l'Environnement" rel="popover" data-placement="bottom" data-trigger="hover"><%= image_tag "rge.png" %></a>
                <% end %>
                <% if @user.qualibat == true %>
                  <a id="popoverQualibat" data-content="Professionnel certifié Qualibat" rel="popover" data-placement="bottom" data-trigger="hover"><%= image_tag "qualibat.png" %></a>
                <% end %>
                <% if @user.ffb == true %>
                  <a id="popoverFfb" data-content="Professionnel appartenant à la Fédaration Francaise du Batiment" rel="popover" data-placement="bottom" data-trigger="hover"><%= image_tag "ffb.png" %></a>
                <% end %>
                <% if @user.mh == true %>
                  <a id="popoverGmh" data-content="Professionnel appartenant au groupement francais des entreprises de Restauration de Monuments Historiques" rel="popover" data-placement="bottom" data-trigger="hover"><%= image_tag "gmh.png" %></a>
                <% end %>
              </div>

              <div id="skills-flexbox">
                <ul class="skills">
                  <h4>Spécialités</h4>
                  <li class="li-position">
                    <% if @user.charpente == true %>
                      <%= image_tag 'charpente.svg', class:"skill-pic" %>
                      <span>Charpente</span>
                    <% end %>
                  </li>
                  <li class="li-position">
                    <% if @user.couverture == true %>
                      <%= image_tag 'couverture.svg', class:"skill-pic" %>
                      <span>Couverture</span>
                    <% end %>
                  </li>
                  <li class="li-position">
                    <% if @user.ouverture == true %>
                      <%= image_tag 'ouverture.svg', class:"skill-pic" %>
                      <span>Ouvertures / Vérandas</span>
                    <% end %>
                  </li>
                  <li class="li-position">
                    <% if @user.terrasse == true %>
                      <%= image_tag 'balcon.svg', class:"skill-pic" %>
                      <span>Balcons / Terrasses</span>
                    <% end %>
                  </li>
                  <li class="li-position">
                    <% if @user.plomberie == true %>
                      <%= image_tag 'gouttiere.svg', class:"skill-pic" %>
                      <span>Gouttières / Eaux de pluie</span>
                    <% end %>
                  </li>
                </ul>
                <ul class="skills">
                  <h4>Type de batiment</h4>

                  <li class="li-position">
                    <% if @user.maison == true %>
                      <%= image_tag 'maison.svg', class:"skill-pic" %>
                      <span>Maisons individuelles</span>
                    <% end %>
                  </li>

                  <li class="li-position">
                    <% if @user.immeuble == true %>
                      <%= image_tag 'immeuble.svg', class:"skill-pic" %>
                      <span>Immeubles</span>
                    <% end %>
                  </li>
                  <li class="li-position">
                    <% if @user.chateau == true %>
                      <%= image_tag 'chateau.svg', class:"skill-pic" %>
                      <span>Chateaux</span>
                    <% end %>
                  </li>
                  <li class="li-position">
                    <% if @user.locaux_industriels == true %>
                      <%= image_tag 'factory.svg', class:"skill-pic" %>
                      <span>Locaux industriels</span>
                    <% end %>
                  </li>
                  </div>
                </ul>
              </div>

            </div>
          </div>
        <% else %>
          <div class="col-xs-12 col-md-3 col-md-offset-1"></div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <div class="link-col">
          <div class="link-style"><%= link_to "Notre site internet", @user.website, target: '_blank' %></div>
          <div class="link-style">
            <%= link_to @user.twitter, target: '_blank' do %>
              <i class="fa fa-twitter" aria-hidden="true"></i>
            <% end %>
          </div>
          <%= link_to @user.facebook, target: '_blank' do %>
            <i class="fa fa-facebook" aria-hidden="true"></i>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-md-12">
        <div class="link-col">
          <div class="link-style"> <%= @user.press_link_title_1 %></div>
          <div class="link-style"> <%= @user.press_link_title_2 %></div>
          <div class="link-style"> <%= @user.press_link_title_3 %></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- cards projets -->
<% if @projects != [] %>
<div class="container underline-title-container">
  <% if @user == current_user %>
    <h3> Nos réalisations
      <%= link_to new_project_path(current_user), class: "small-yellow-link" do %>
        <span> Ajouter ou modifier une réalisation </span>
      <% end %>
    </h3>
  <% elsif %>
    <h3>Nos réalisations</h3>
  <% end %>
</div>
  <div class="container project-card">
    <% @projects.each do |project| %>
    <div class="row row-project-card">
      <!-- carousel -->
      <div class="col-xs-12 col-md-5">
        <% if project.project_photos != [] %>
        <!-- carousel de 3 photos par projet-->
        <div id="carousel-example-generic-<%= project.id %>" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <% if project.project_photos.count > 1 %>
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic-<%= project.id %>" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic-<%= project.id %>" data-slide-to="1"></li>
            <% if project.project_photos.count > 2 %>
            <li data-target="#carousel-example-generic-<%= project.id %>" data-slide-to="2"></li>
            <% end %>
          </ol>
          <% end %>
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <%= cl_image_tag project.project_photos[0].path, width: 500, height: 333, crop: :fill  %>
              <div class="carousel-caption">
              </div>
            </div>
            <% if project.project_photos.count >= 2 %>
            <div class="item">
              <%= cl_image_tag project.project_photos[1].path, width: 500, height: 333, crop: :fill  %>
              <div class="carousel-caption">
              </div>
            </div>
            <% end %>
            <% if project.project_photos.count >= 3 %>
            <div class="item">
              <%= cl_image_tag project.project_photos[2].path, width: 500, height: 333, crop: :fill  %>
              <div class="carousel-caption">
              </div>
            </div>
            <% end %>
          </div>
          <!-- Controls -->
          <% if project.project_photos.count >1 %>
          <a class="left carousel-control" href="#carousel-example-generic-<%= project.id %>" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic-<%= project.id %>" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
          <% end %>
        </div>
        <% else %>
          <%= image_tag "user_base_pic.png", width: 500, height: 333, crop: :fill  %>
        <% end %>
      </div>
      <!-- description projet -->
      <div class="col-xs-12 col-md-7">
        <h2 class="text-center"><%= project.title %></h2>
        <p id="desc-projet"> <%= kramdown(project.description) %></p>
        <div class="project-infos">
          <% if project.cost.present? %>
            <span><%= number_with_delimiter(project.cost, locale: :fr) %> <i class="fa fa-eur" aria-hidden="true"></i></span>
          <% end %>
          <span><i class="fa fa-map-marker" aria-hidden="true"></i>  <%= project.address %></span>
          <span><i class="fa fa-calendar" aria-hidden="true"></i><%= (I18n.localize project.date, format: :month_year).capitalize %></span>
        </div>
      </div>
    </div>
    <% end %>
  </div>
<% end %>


<!-- articles -->

<% if @articles != [] %>
  <div class="container underline-title-container">
    <% if @user == current_user %>
      <h3>Nos articles
        <%= link_to mes_articles_articles_path, class: "small-yellow-link" do %>
          <span> Créer ou modifier un article </span>
        <% end %>
      </h3>
    <% elsif %>
      <h3>Nos articles</h3>
    <% end %>
  </div>
  <div class="container">
    <div class="row">
      <% @articles.each do |article| %>
        <div class="col-xs-12 col-md-4">
          <%= render "shared/card_article", article: article %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<!-- Facebook Social PlugIn -->

<div class="fb-page" data-href="<%= @user.facebook %>" data-small-header="true" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true"><blockquote cite=" <%= @user.facebook %>" class="fb-xfbml-parse-ignore"><a href=" <%= @user.facebook %>"><%= @user.company %></a></blockquote></div>






