<% content_for :meta_title, "#{@user.company} est sur #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @user.description %>
<% if @user.pro? && @user.photo_presentation != nil %>
  <% content_for :meta_image, cloudinary_url(@user.photo_presentation.path) %>
<% end %>



<!-- wrapper photo form -->
<div class="wrapper hidden-xs">
  <div class="wrapper_users_show">
    <div class="banner">
      <div class="banner-show">
        <% if @user.photo_presentation? %>
          <%= cl_image_tag @user.photo_presentation.path, width: 1440, height: 607, crop: :fill %>
        <% else %>
          <%= image_tag "user_base_pic.png" %>
        <% end %>
      </div>
    </div>
    <div class="user-company"></div>
    <div class="logoname">
      <% if @user.photo_company_logo  %>
        <%= cl_image_tag @user.photo_company_logo.path, height: 80, crop: :fill %>
      <% end %>
      <h3><%= @user.company %></h3>
    </div>
    <div class="form-container">
      <ul class="nav nav-tabs ul-position text-center" role="tablist">
        <li role="presentation" class="inactif"><a href="#phone" aria-controls="phone" role="tab" data-toggle="tab"><i class="fa fa-phone" aria-hidden="true"></i><i class="fa-text"> Téléphone</i></a></li>
        <li role="presentation" class="active inactif"><a href="#message" aria-controls="message" role="tab" data-toggle="tab"><i class="fa fa-envelope" aria-hidden="true"></i><i class="fa-text"> Email</i></a></li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="phone">
            <h4 class="text-center"><%= @user.office_phone %></h4>
            <p class="text-center">Je souhaite être rappelé</p>
            <%= simple_form_for(@client) do |f| %>
              <%= f.input :last_name, placeholder: "Votre nom", label: false %>
              <%= f.input :email, placeholder: "Votre email", label: false %>
              <%= f.input :phone_number, placeholder: "Votre téléphone", label: false %>
              <%= f.button :submit, "Envoyer", :class => "button-message" %>
            <% end %>
        </div>
        <div role="tabpanel" class="tab-pane active" id="message">
          <div id="form-message">
            <h5 class="text-center">Envoyez nous un email</h5>
            <%= simple_form_for(@client) do |f| %>
              <%= f.input :message, as: :text, placeholder: "Posez nous vos questions", label: false %>
              <%= f.input :last_name, placeholder: "Votre nom", label: false %>
              <%= f.input :email, placeholder: "Votre email", label: false %>
              <%= f.input :phone_number, placeholder: "Votre téléphone", label: false %>
              <%= f.button :submit, "Envoyer", :class => "button-message" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="text-center hidden-xs">
  <i class="fa fa-chevron-down fa-3x" aria-hidden="true"></i>
</div>

<div class="container">
<!-- description, fiche et skills -->
  <div class="description-container">
    <div class="row">
      <div class="description-row">
        <div class="col-xs-12 col-md-9">
          <div class="user-description">
          <h2>Informations générales</h2>
            <p><%= @user.description %></p>
            <div id="flex-pic-address">
              <h3><%= @user.address %></h3>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-3">
          <div class="skills-column">
            <ul class="skills">

              <h4>Type de biens</h4>

              <li class="li-position">
                <% if @user.maison == true %>
                  <%= image_tag 'maison.svg', class:"skill-pic" %>
                  <span>Maisons individuelles</span>
                <% end %>
              </li>

              <li class="li-position">
                <% if @user.immeuble == true %>
                  <%= image_tag 'immeuble.svg', class:"skill-pic" %>
                  <span>Immeubles</span>
                <% end %>
              </li>
              <li class="li-position">
                <% if @user.chateau == true %>
                  <%= image_tag 'chateau.svg', class:"skill-pic" %>
                  <span>Chateaux</span>
                <% end %>
              </li>

              <h4>Travaux</h4>

              <li class="li-position">
                <% if @user.construction == true %>
                  <%= image_tag 'reparation2.svg', class:"skill-pic" %>
                  <span>Construction</span>
                <% end %>
              </li>
              <li class="li-position">
                <% if @user.renovation == true %>
                  <%= image_tag 'reparation.svg', class:"skill-pic" %>
                  <span>Rénovation</span>
                <% end %>
              </li>
              <li class="li-position">
                <% if @user.entretien == true %>
                  <%= image_tag 'nettoyage2.svg', class:"skill-pic" %>
                  <span>Entretien</span>
                <% end %>
              </li>

              <h4>Spécialités</h4>

              <li class="li-position">
                <% if @user.charpente == true %>
                  <%= image_tag 'charpente.svg', class:"skill-pic" %>
                  <span>Charpente</span>
                <% end %>
              </li>
              <li class="li-position">
                <% if @user.couverture == true %>
                  <%= image_tag 'couverture.svg', class:"skill-pic" %>
                  <span>Couverture</span>
                <% end %>
              </li>
              <li class="li-position">
                <% if @user.ouverture == true %>
                  <%= image_tag 'ouverture.svg', class:"skill-pic" %>
                  <span>Ouvertures / Vérandas</span>
                <% end %>
              </li>
              <li class="li-position">
                <% if @user.terrasse == true %>
                  <%= image_tag 'balcon.svg', class:"skill-pic" %>
                  <span>Balcons / Terrasses</span>
                <% end %>
              </li>
              <li class="li-position">
                <% if @user.plomberie == true %>
                  <%= image_tag 'gouttiere.svg', class:"skill-pic" %>
                  <span>Gouttières / Eaux de pluie</span>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- cards projets -->
<h1 class="text-center">Nos réalisations</h1>
<div class="container project-card">
<% if @projects != [] %>
  <% @projects.each do |project| %>
  <div class="row">
    <!-- carousel -->
    <div class="col-xs-12 col-md-5">
      <% if project.project_photos != [] %>
      <!-- carousel de 3 photos par projet-->
      <div id="carousel-example-generic-<%= project.id %>" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <% if project.project_photos.count > 1 %>
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic-<%= project.id %>" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic-<%= project.id %>" data-slide-to="1"></li>
          <% if project.project_photos.count > 2 %>
          <li data-target="#carousel-example-generic-<%= project.id %>" data-slide-to="2"></li>
          <% end %>
        </ol>
        <% end %>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <%= cl_image_tag project.project_photos[0].path, width: 500, height: 333, crop: :fill  %>
            <div class="carousel-caption">
            </div>
          </div>
          <% if project.project_photos.count >= 2 %>
          <div class="item">
            <%= cl_image_tag project.project_photos[1].path, width: 500, height: 333, crop: :fill  %>
            <div class="carousel-caption">
            </div>
          </div>
          <% end %>
          <% if project.project_photos.count >= 3 %>
          <div class="item">
            <%= cl_image_tag project.project_photos[2].path, width: 500, height: 333, crop: :fill  %>
            <div class="carousel-caption">
            </div>
          </div>
          <% end %>
        </div>
        <!-- Controls -->
        <% if project.project_photos.count >1 %>
        <a class="left carousel-control" href="#carousel-example-generic-<%= project.id %>" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic-<%= project.id %>" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        <% end %>
      </div>
      <% else %>
        <%= image_tag "user_base_pic.png", width: 500, height: 333, crop: :fill  %>
      <% end %>
    </div>
    <!-- description projet -->
    <div class="col-xs-12 col-md-7">
      <h3 class="text-center"><%= project.title %></h3>
      <p id="desc-projet"> <%= project.description %></p>
      <div class="project-infos">
        <span><%= number_with_delimiter(project.cost, locale: :fr) %> <i class="fa fa-eur" aria-hidden="true"></i></span>
        <span><i class="fa fa-map-marker" aria-hidden="true"></i>  <%= project.address %></span>
        <span><i class="fa fa-calendar" aria-hidden="true"></i><%= (I18n.localize project.date, format: :month_year).capitalize %></span>
      </div>
    </div>
  </div>
  <% end %>
<% end %>
</div>








