<h3>show</h3>


  <p>société : <%= @user.company %></p>
  <p>position : <%= @user.position %></p>
  <p>prénom : <%= @user.last_name %></p>
  <p>nom : <%= @user.first_name %></p>
  <p>portable : <%= @user.mobile_phone %></p>
  <p>fixe : <%= @user.office_phone %></p>
  <p>email : <%= @user.email %></p>
  <p>addresse : <%= @user.address %></p>
  <p>description : <%= @user.description %></p>


