<%= render 'shared/magazine_top_banner' %>
<%= render 'shared/fix_cta' %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <ol class="breadcrumb">
        <li><a href="/">Accueil</a></li>
        <li><%= link_to "Magazine", articles_path %></li>
        <li class="active"><%= @articles.first.category %></li>
      </ol>
      <%= render 'shared/share_links' %>
    </div>


    <div class="col-xs-12 col-md-9">
      <div class='index_articles_page'>
        <% @articles.each do |article| %>
          <div class="col-xs-12 col-md-6">
            <%= render "shared/card_article", article: article %>
          </div>
        <% end %>
      </div>
    </div>
    <%= render 'shared/article_left_navigation' %>
  </div>
</div>
