<div class="col-md-3 hidden-xs nopadding ">
  <div class= "left-navigation-container">
    <div class="all-categories-articles">

      <%= link_to "Guides", guides_path, class: "left-navigation-title" %>

      <div class= "left-navigation-category-link">
        <%= link_to "La toiture", root_path, class: "yellow-link" %>
        </div>
      <ul>
        <li><%= link_to "un élément essentiel de votre logement", root_path, class: "small-link" %></li>
        <li><%= link_to "De quoi se compose une toiture ?", root_path, class: "small-link" %></li>
        <li><%= link_to "Les différents types de toit", root_path, class: "small-link" %></li>
        <li><%= link_to "Le toit traditionnel", root_path, class: "small-link" %></li>
        <li><%= link_to "Le toit terrasse", root_path, class: "small-link" %></li>
        <li><%= link_to "Le toit végétal", root_path, class: "small-link" %></li>
        <li><%= link_to "Les aides", root_path, class: "small-link" %></li>
        <li><%= link_to "La législation", root_path, class: "small-link" %></li>




      </ul>




      <div class= "left-navigation-category-link">
      <%= link_to "La couveture", root_path, class: "yellow-link" %>
      </div>
      <ul>
        <li><%= link_to "introduction", root_path, class: "small-link" %></li>
        <li><%= link_to "Les matériaux naturels", root_path, class: "small-link" %></li>
        <li><%= link_to "L'ardoise", root_path, class: "small-link" %></li>
        <li><%= link_to "tableau comparateur", root_path, class: "small-link" %></li>
        <li><%= link_to "L'isolation", root_path, class: "small-link" %></li>
        <li><%= link_to "La ventilation", root_path, class: "small-link" %></li>
        <li><%= link_to "L'écran de sous toiture", root_path, class: "small-link" %></li>
        <li><%= link_to "La zinguerie", root_path, class: "small-link" %></li>
        <li><%= link_to "Les ouvertures", root_path, class: "small-link" %></li>
        <li><%= link_to "Les panneaux solaires", root_path, class: "small-link" %></li>
        <li><%= link_to "Les ornements", root_path, class: "small-link" %></li>
      </ul>





      <div class= "left-navigation-category-link">
      <%= link_to "La charpente", root_path, class: "yellow-link" %>
      </div>
      <ul>
        <li><%= link_to "introduction", root_path, class: "small-link" %></li>
        <li><%= link_to "La charpente traditionnelle", root_path, class: "small-link" %></li>
        <li><%= link_to "La charpente à fermettes industrielles", root_path, class: "small-link" %></li>
        <li><%= link_to "La charpente métallique", root_path, class: "small-link" %></li>
        <li><%= link_to "La charpente en béton", root_path, class: "small-link" %></li>
        <li><%= link_to "Les bois de charpente", root_path, class: "small-link" %></li>
      </ul>


      <div class="left-navigation-call-to-action">
        <%= link_to "Services InfoToitures", root_path, class: "left-navigation-title" %>
        <div class= "left-navigation-category-link">
          <%= link_to "Annuaire", root_path, class: "yellow-link" %>
        </div>
          <p>Trouvez les principaux acteurs près de chez vous </p>

        <%= simple_form_for(@client) do |f| %>
          <%= f.input :address, placeholder: "1, rue des champs 69900", label: "Entrez votre adresse"  %>
          <div class= "left-navigation-button-call-to-action">
            <%= f.button :submit, "Annuaire", class: "main-cta" %>
          </div>
         <% end %>

        <br>

        <div class= "left-navigation-category-link">
          <%= link_to "Simulateur", root_path, class: "yellow-link" %>
        </div>
        <p>Simulateur d'aide à la décision : définissez vos besoins et choisissez parmi les solutions les plus adéquates</p>
        <div class= "left-navigation-button-call-to-action">
          <%= link_to "Simulateur", root_path, class: "main-cta"%>
        </div>
      </div>

      <div class="left-navigation-call-to-action">
        <%= link_to "Magazine", root_path, class: "left-navigation-title" %>
        <div class= "left-navigation-category-link">
          <%= link_to "Magazine", root_path, class: "yellow-link" %>
        </div>
        <ul>
          <li><%= link_to "Actualités juridiques", root_path, class: "small-link" %></li>
          <li><%= link_to "Environnement", root_path, class: "small-link" %></li>
          <li><%= link_to "Innovation", root_path, class: "small-link" %></li>
        </ul>
      </div>

    </div>
  </div>
</div>


<!-- JS Autocomplete -->
<%= content_for(:after_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyC0J8yKgp1HNvXsiK1_H_PCAz2f-D9Zq4Y"></script>
<% end %>
<!--  -->
