
<div class="col-xs-12 col-md-6">
  <div class="article-card">
    <%= link_to article_path(article) do %>
      <h6 class="text-center"><%= article.title %></h6>
      <span class="article_category"><%= article.category.name %></span>
      <div class="article-content">
        <%= cl_image_tag article.photo_presentation.path, class: "img-card" %>
        <span>Publié le <%= (I18n.localize article.created_at.to_date, formats: :classical).capitalize %> par <%= article.user.first_name %>, <%= article.user.company %> </span>
        <p><%= article.card_summary %><span> <%= link_to "Lire", article_path(article.title), class: "yellow-link"%></span></p>
      </div>
    <% end %>
  </div>
</div>


<div class="col-xs-12 col-md-6 mag-card">
  <h6 class="text-center"><%= article.title %></h6>
  <span class=""><%= article.category.name %></span>
    <%= cl_image_tag article.photo_presentation.path, width: 200, height: 150, crop: :fill, class: "" %>
    <span>Publié le <%= (I18n.localize article.created_at.to_date, formats: :classical).capitalize %> par <%= article.user.first_name %>, <%= article.user.company %> </span>
    <p><%= article.card_summary %><span> <%= link_to "Lire", article_path(article.title), class: "yellow-link"%></span></p>
</div>
