
<div class="row row_show_users">



  <!-- 1ere col avec photos -->


  <div class="col-xs-12 col-sm-4 card_photo_presentation">
    <%= link_to user_path(user), class: "link_pic" do %>
    <div class="hidden-xs hidden-sm">
      <% if user.photo_presentation? %>
        <%= cl_image_tag user.photo_presentation.path, width: 378, height: 248 %>
      <% else %>
        <%= image_tag "construction_toit.jpg", width: 378, height: 248 %>
      <% end %>
    </div>
    <div class="hidden-md hidden-lg">
      <% if user.photo_presentation? %>
        <%= cl_image_tag user.photo_presentation.path, width: 345, height: 228 %>
      <% else %>
        <%= image_tag "construction_toit.jpg", width: 350, height: 230 %>
      <% end %>
    </div>
    <% end %>
  </div>



  <!-- 2eme col avec logo, nom et description -->



  <div class="col-xs-12 col-sm-5 card_infos">
    <%= link_to user_path(user), class: "link_show" do %>
      <% if user.photo_company_logo? %>
      <span>
        <%= cl_image_tag user.photo_company_logo.path, width: 60, height: 60, crop: :fill %>
      </span>
      <% end %>
      <span><%= user.company %></span>
    <% end %>
    <p><%= user.description.truncate_words(28) %>
      <%= link_to user_path(user), class: "link_show" do %>
        <span><strong>En savoir plus </strong></span><i class="fa fa-chevron-right" aria-hidden="true"></i>
      <% end %>
    </p>
    <div class="labels">
      <% if user.rge == true %>
        <%= image_tag "rge.png" %>
      <% end %>
      <% if user.qualibat == true %>
        <%= image_tag "qualibat.png" %>
      <% end %>
      <% if user.mh == true %>
        <%= image_tag "mh.png" %>
      <% end %>
    </div>
  </div>



  <!-- 3eme col avec boutons et skills -->

  <div class="col-xs-12 col-sm-3 card_skills">
    <div class="modals_position">
      <!-- Modal Phone -->
      <div class="modal_phone">
        <button type="button" class="fa fa-phone fa-phone-custom" data-toggle="modal" data-target="#myModalphone<%= user.id %> "></button>
        <!-- Modal telephone -->
        <div class="modal fade" id="myModalphone<%= user.id %>" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Coordonnées de : <%= user.company %></h4>
              </div>
              <div class="modal-body">
              <% if user.office_phone != "" %>
                <i class="fa fa-phone large-fa" aria-hidden="true"></i> <%= user.office_phone %>
              <% end %>
              <% if user.mobile_phone != "" %>
                <i class="fa fa-mobile large-fa" aria-hidden="true"></i> <%= user.mobile_phone %>
              <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal Email -->
      <div class="modal_email">
        <button type="button" class="fa fa-envelope-o fa-envelope-o-custom" data-toggle="modal" data-target="#myModalmail<%= user.id %>"></button>
        <!-- Modal email -->
        <div class="modal fade" id="myModalmail<%= user.id %>" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Contact email de la société <%= user.company %></h4>
              </div>
              <div class="modal-body">
                <%= user.email %>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- marker distance -->
    <div class="distance_marker">
      <% if @radius_users != [] %>
        <h5><i class="fa fa-map-marker" aria-hidden="true"></i>
        <% range = @client.distance_to(user.address).to_i  %>
        <% if range < 1 %>
          à moins de 1 km
        <% elsif %>
          à <%= range %> km
        <% end %>
      <% elsif %>
        <% if user.city != nil || user.zip_code != nil  %>
          <%= user.zip_code %> <%= user.city %>
        <% end %>
      <% end %>
      </h5>
    </div>
    <div class="project-count">
      <% if user.projects.count > 0 %>
        <%= link_to user_path(user), class: "link_show" do %>
          <span><strong><%= user.projects.count %></strong> projet à découvrir </span><i class="fa fa-chevron-right" aria-hidden="true"></i>
        <% end %>
      <% elsif user.projects.count > 1 %>
        <%= link_to user_path(user), class: "link_show" do %>
          <span><strong><%= user.projects.count %></strong> projets à découvrir </span><i class="fa fa-chevron-right" aria-hidden="true"></i>
        <% end %>
      <% end %>
    </div>
  </div>

</div>
