
<div class="row card_show_users">
  <div class="line"></div>
  <div class="col-xs-12 col-sm-4 col-sm-offset-2 card_photo_presentation">
  <%= link_to user_path(user), class: "link_pic" do %>
    <% if user.photo_presentation? %>
      <%= cl_image_tag user.photo_presentation.path, width: 378, height: 248 %>
    <% else %>
      <%= image_tag "construction_toit.jpg", width: 378, height: 248 %>
    <% end %>
  <% end %>
  </div>
  <div class="col-xs-12 col-sm-6 card_infos">
    <% if user.photo_company_logo? %>
          <%= cl_image_tag user.photo_company_logo.path, width: 60, height: 60, crop: :fill %>
    <% end %>
    <span><%= user.company %></span>
    <p><%= user.description.truncate_words(25) %>
      <%= link_to user_path(user), class: "link_show" do %>
        <span><strong>En savoir plus</strong></span>  <i class="fa fa-chevron-right" aria-hidden="true"></i>
      <% end %>
    </p>


    <button type="button" class="fa fa-phone " data-toggle="modal" data-target="#myModalphone"></button>
    <!-- Modal -->
    <div class="modal fade" id="myModalphone" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Téléphone de la société <%= user.company %></h4>
          </div>
          <div class="modal-body">
            Bureau : <%= user.office_phone %>
            <% if user.mobile_phone != nil %>
            | Mobile : <%= user.mobile_phone %>
            <% end %>
          </div>

        </div>
      </div>
    </div>

    <button type="button" class="fa fa-envelope-o " data-toggle="modal" data-target="#myModalmail"></button>
    <!-- Modal -->
    <div class="modal fade" id="myModalmail" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Contact email de la société <%= user.company %></h4>
          </div>
          <div class="modal-body">
            <%= user.email %>
          </div>

        </div>
      </div>
    </div>
    <h5><i class="fa fa-map-marker" aria-hidden="true"></i>  <%= user.address %></h5>
  </div>
</div>
