<div class="card_show_users">
  <div class="card_logo">
    <% if user.photo_company_logo? %>
      <%= cl_image_tag user.photo_company_logo.path, width: 100, height: 100%>
      <% else %>
      <%= user.company %>
    <% end %>
  </div>
  <div class="card_photo_presentation">
    <% if user.photo_presentation? %>
      <%= cl_image_tag user.photo_presentation.path, width: 300, height: 200%>
    <% else %>
      <%= image_tag "construction_toit.jpg", width: 300, height: 200 %>
    <% end %>
  </div>
  <div class="card_informations_user">
    <h3><%= user.company %></h3>
    <h5><%= user.address %></h5>
  </div>
</div>
<%= link_to '', user_path(user), class: "card-link" %>



