
<div class="row row_show_users">



  <!-- 1ere col avec photos -->


  <div class="col-xs-12 col-sm-4 card_photo_presentation">
    <%= link_to user_path(user), class: "link_pic" do %>
    <div class="hidden-xs hidden-sm">
      <% if user.photo_presentation? %>
        <%= cl_image_tag user.photo_presentation.path, width: 378, height: 278, crop: :fill %>
      <% else %>
        <%= image_tag "construction_toit.jpg", width: 378, height: 278, crop: :fill %>
      <% end %>
    </div>
    <div class="hidden-md hidden-lg">
      <% if user.photo_presentation? %>
        <%= cl_image_tag user.photo_presentation.path, width: 345, height: 278, crop: :fill %>
      <% else %>
        <%= image_tag "construction_toit.jpg", width: 350, height: 278, crop: :fill %>
      <% end %>
    </div>
    <% end %>
  </div>



  <!-- 2eme col avec logo, nom et description -->



  <div class="col-xs-12 col-sm-5 card_infos">
    <%= link_to user_path(user), class: "link_show" do %>
      <% if user.photo_company_logo? %>
        <span>
          <%= cl_image_tag user.photo_company_logo.path, width: 60, height: 60, crop: :fit %>
        </span>
      <% end %>
      <span><%= user.company %></span>
    <% end %>
    <% if user.description != nil %>
    <p><%= user.description.truncate_words(18) %>
      <%= link_to user_path(user) do %>
        <span><strong>En savoir plus </strong></span><i class="fa fa-chevron-right" aria-hidden="true"></i>
      <% end %>
    </p>
    <% end %>

    <div id="user-specialites">
      <% if user.specialite1 != nil && user.specialite1 != "" %>
        <h6><i class="fa fa-arrow-right" aria-hidden="true"></i> <%= user.specialite1 %> </h6>
      <% end %>
      <% if user.specialite2 != nil && user.specialite2 != "" %>
        <h6><i class="fa fa-arrow-right" aria-hidden="true"></i> <%= user.specialite2 %> </h6>
      <% end %>
      <% if user.specialite3 != nil && user.specialite3 != "" %>
        <h6><i class="fa fa-arrow-right" aria-hidden="true"></i> <%= user.specialite3 %> </h6>
      <% end %>
    </div>

    <div class="labels">
      <% if user.rge == true %>
        <a id="popoverRge" data-content="Professionnel Reconnu Garant de l'Environnement" rel="popover" data-placement="bottom" data-trigger="hover"><%= image_tag "rge.jpg" %></a>
      <% end %>
      <% if user.qualibat == true %>
        <a id="popoverQualibat" data-content="Professionnel certifié Qualibat" rel="popover" data-placement="bottom" data-trigger="hover"><%= image_tag "qualibat.jpg" %></a>
      <% end %>
      <% if user.mh == true %>
        <a id="popoverGmh" data-content="Professionnel appartenant au groupement francais des entreprises de Restauration de Monuments Historiques" rel="popover" data-placement="bottom" data-trigger="hover"><%= image_tag "gmh.jpg" %></a>
      <% end %>
      <% if user.ffb == true %>
      <a id="popoverFfb" data-content="Professionnel appartenant à la Fédaration Francaise du Batiment" rel="popover" data-placement="bottom" data-trigger="hover"><%= image_tag "ffb.jpg" %></a>
      <% end %>
      <% if user.epv == true %>
      <a id="popoverEpv" data-content="Entreprise du Patrimoine Vivant" rel="popover" data-placement="bottom" data-trigger="hover"><%= image_tag "epv.jpg" %></a>
      <% end %>
    </div>

  </div>



  <!-- 3eme col avec boutons et skills -->

  <div class="col-xs-12 col-sm-3 card_skills">
  <!-- btn découvre notre société -->
    <%= link_to user_path(user), class: "btn-societe text-center" do %>
      <span>Découvrez notre société</span>
    <% end %>
    <div class="modals_position">
      <!-- Modal Phone -->
      <div class="modal_phone">
        <button type="button" class="fa fa-phone fa-phone-custom" data-toggle="modal" data-target="#myModalphone<%= user.id %> "></button>
        <!-- Modal telephone -->
        <div class="modal fade" id="myModalphone<%= user.id %>" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
              <p class="text-center" id="office_phone"><%= user.office_phone %></p>
              <p class="text-center form-title">Désirez vous être rappelé(e) par la société <strong> <%= user.company %> </strong>?</p>
              <%= simple_form_for(@client) do |f| %>
                <%= f.input :user_id, as: :hidden, input_html: { value: user.id } %>
                <%= f.input :last_name, placeholder: "Votre nom", label: false %>
                <%= f.input :email, placeholder: "Votre email", label: false %>
                <%= f.input :phone_number, placeholder: "Votre téléphone", label: false %>
                <%= f.button :submit, "Envoyer", :class => "button-message" %>
              <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal Email -->
      <div class="modal_email">
        <button type="button" class="fa fa-envelope-o fa-envelope-o-custom" data-toggle="modal" data-target="#myModalmail<%= user.id %>"></button>
        <!-- Modal email -->
        <div class="modal fade" id="myModalmail<%= user.id %>" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <p class="text-center form-title">Solliciter la société <strong> <%= user.company %> </strong> par email</p>
                <%= simple_form_for(@client) do |f| %>
                  <%= f.input :user_id, as: :hidden, input_html: { value: user.id } %>
                  <%= f.input :message, as: :text, placeholder: "Décrivez votre besoin", label: false %>
                  <%= f.input :last_name, placeholder: "Votre nom", label: false %>
                  <%= f.input :email, placeholder: "Votre email", label: false %>
                  <%= f.input :phone_number, placeholder: "Votre téléphone", label: false %>
                  <%= f.button :submit, "Envoyer", :class => "button-message" %>
                <% end %>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- marker distance -->
    <div class="distance_marker">
      <% if @radius_users != [] %>
        <h5><i class="fa fa-map-marker" aria-hidden="true"></i>
        <% range = @client.distance_to(user.address).to_i  %>
        <% if range > 0 && range <= 1 %>
          à moins de 1 km: <%= user.city %>
        <% elsif range > 1 %>
          à <%= user.city %> ( <%= range %> km )
        <% else %>
          à <%= user.city %>
        <% end %>
      <% elsif %>
        <% if user.city != nil || user.zip_code != nil  %>
          <%= user.zip_code %> <%= user.city %>
        <% end %>
      <% end %>
      </h5>
    </div>
    <!-- Nombre de projets -->
    <div class="project-count">
      <% if user.projects.count == 1 %>
        <%= link_to user_path(user, anchor: "scroll-to-projects"),  class: "link_show" do %>
          <span><strong><%= user.projects.count %></strong> réalisation à découvrir </span><i class="fa fa-chevron-right" aria-hidden="true"></i>
        <% end %>
      <% elsif user.projects.count > 1 %>
        <%= link_to user_path(user, anchor: "scroll-to-projects"), class: "link_show" do %>
          <span><strong><%= user.projects.count %></strong> réalisations à découvrir </span><i class="fa fa-chevron-right" aria-hidden="true"></i>
        <% end %>
      <% end %>
    </div>

    <!-- Nombre d'articles -->
    <div class="project-count">
      <% if user.articles.count == 1 %>
        <%= link_to user_path(user, anchor: "scroll-to-articles"), class: "link_show" do %>
          <span><strong><%= user.articles.count %></strong> article à lire </span><i class="fa fa-chevron-right" aria-hidden="true"></i>
        <% end %>
      <% elsif user.articles.count > 1 %>
        <%= link_to user_path(user, anchor: "scroll-to-articles"), class: "link_show" do %>
          <span><strong><%= user.articles.count %></strong> articles à lire </span><i class="fa fa-chevron-right" aria-hidden="true"></i>
        <% end %>
      <% end %>
    </div>

  </div>
</div>
