<div class="col-xs-12">
  <div class="card-job-offer">

    <h3><%= job_offer.title %> h/f</h3>
    <p> <%= (I18n.localize job_offer.created_at.to_date, formats: :classical).capitalize  %> </p>

    <p>Type de contrat proposé : <strong><%= job_offer.job_type %> </strong></p>

    <p><em>Entreprise : </em><strong><%= job_offer.user.company %> </strong></p>
    <!--   <#%= link_to job_offer.user_path, class: "navbar-wagon-button btn-edit-profil" do %>
        <span>Voir la page de l'entreprise</span>
      <#% end %> -->
    <p>Localisation : <strong><%= job_offer.user.zip_code %> <%= job_offer.user.city %></strong>
    </p>

    <span><em>Présentation : </em></span>
    <div class="card-job-description">
      <p><%= kramdown(job_offer.description) %></p>
    </div>
    <%= link_to job_offer_path(job_offer), target: "_blank", class: "navbar-wagon-button btn-edit-profil" do %>
        <span>Consulter l'offre d'emploi</span>
      <% end %>

  </div>
</div>
