<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">

      <span><%= link_to "Qui sommes-nous ?", qui_sommes_nous_path %></span>
      <br>
      <span><%= link_to "Services aux paticuliers", services_aux_particuliers_path %></span>
      <br>
      <span><%= link_to "Services aux professionnels", services_aux_professionnels_path %></span>
      <br>
      <span><%= link_to "Contact", contact_path %></span>
      <br>

      <br>

        <ul class="list-inline">
         <!--  <li><a href=""><i class="fa fa-youtube"></i></a></li>
          <li><a href=""><i class="fa fa-instagram"></i></a></li> -->
          <li><a href="https://www.facebook.com/LesToitures/"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/LesToitures"><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
      <div class="col-xs-8 text-right">
        <span><%= link_to "Mentions légales", mentions_legales_path %></span>
        <br>
        <span><%= link_to "Conditions générales d'utilisation", cgu_path %></span>
        <br>
        <br>
        <br>
        <span>Copyright 2017</span>
        <br>
        <span>© lestoitures.fr </span>
      </div>
    </div>
  </div>
</div>
