<div class="container shared_form">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= simple_form_for(client, url: users_path, method: :get) do |f| %>
        <%= f.input :address, placeholder: "Lieu des travaux", autofocus: true, label:false %>
    </div>
  </div>
  <div class="row" id="cb-row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-3">
      <h5>Type de Travaux</h5>
      <div class="index_form">
        <div><label>
        <%= f.check_box :architecte %>
        <span>Architecte - Bureau d'études</span>
        </label></div>
        <div><label>
        <%= f.check_box :couverture %>
        <span>Couverture</span>
        </label></div>
        <div><label>
        <%= f.check_box :plomberie %>
        <span>Zinguerie</span>
        </label></div>
        <div><label>
        <%= f.check_box :charpente %>
        <span>Charpente</span>
        </label></div>
        <div><label>
        <%= f.check_box :isolation %>
        <span>Isolation</span>
        </label></div>
        <div><label>
        <%= f.check_box :ouverture %>
        <span>Fenêtres - Ouvertures</span>
        </label></div>
        <div><label>
        <%= f.check_box :terrasse %>
        <span>Terrasse - Vérandas</span>
        </label></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h5>Type de batiment</h5>
      <div class="flexbox">
        <div><label>
        <%= f.check_box :maison %>
        <span>Maison</span>
        </label></div>
        <div><label>
        <%= f.check_box :immeuble %>
        <span>Immeuble</span>
        </label></div>
        <div><label>
        <%= f.check_box :chateau %>
        <span>Chateau</span>
        </label></div>
        <div><label>
        <%= f.check_box :locaux_industriels %>
        <span>Local industriel</span>
        </label></div>
      </div>
    </div>
  </div>
  <div class="text-center">
      <%= f.submit  "Rechercher des pros", class: "navbar-wagon-button in_page" %>
    <% end %>
  </div>
</div>
