<div class="container shared_form">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= simple_form_for(client) do |f| %>
        <%= f.input :address, placeholder: "Lieu des travaux", autofocus: true, label:false %>
    </div>
  </div>
  <div class="row" id="cb-row">
    <div class="col-xs-12 col-sm-3 col-sm-offset-2">
      <h5>Travaux</h5>
      <div class="index_form">
        <div><label><%= f.check_box :couverture %> <span>couverture - étanchéité</span></label></div>
        <div><label>
        <%= f.check_box :charpente %>
        <span>structure - charpente</span>
        </label></div>
        <div><label><%= f.check_box :ouverture %> <span>fenêtre - ouverture</span></label></div>
        <div><label>
        <%= f.check_box :terrasse %>
        <span>balcon - terrasse</span>
        </label></div>
        <div><label>
        <%= f.check_box :plomberie %>
        <span>zinguerie - descentes d'eaux</span>
        </label></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <h5>Type de bien</h5>
      <div class="flexbox">
        <div><label>
        <%= f.check_box :maison %>
        <span>maison</span>
        </label></div>
        <div><label>
        <%= f.check_box :immeuble %>
        <span>immeuble</span>
        </label></div>
        <div><label>
        <%= f.check_box :chateau %>
        <span>chateau</span>
        </label></div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-3">
      <h5>Besoin</h5>
      <div class="flexbox">
        <div><label>
        <%= f.check_box :construction %>
        <span>construction</span>
        </label></div>
        <div><label>
        <%= f.check_box :renovation %>
        <span>rénovation</span>
        </label></div>
        <div><label>
        <%= f.check_box :entretien %>
        <span>entretien</span>
        </label></div>
      </div>
    </div>
  </div>
  <div class="text-center">
      <%= f.submit  "Rechercher des pros", class: "navbar-wagon-button in_page" %>
    <% end %>
  </div>
</div>
