<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand navbar-wagon-item navbar-wagon-link" do %>
    <%= image_tag "logo.png" %>
    <p>L'annuaire des professionnels de la toiture</p>
  <% end %>
  <%= link_to('Retour', :back) %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

  <%= link_to t(".top_call_to_action", default: "Annuaire"), users_path, class: "navbar-wagon-item navbar-wagon-button btn" %>
    <!-- Search form -->
<!--     <form action="" class="navbar-wagon-search">
      <input type="text" class="navbar-wagon-search-input" placeholder="Search something">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form> -->

    <!-- Nav links -->


  <div class="navbar-wagon-item">
    <div class="dropdown">
      <a class="navbar-wagon-link dropdown-toggle" id="navbar-wagon-menu", data-toggle ="dropdown">Guides</a>
      <ul class="dropdown-menu dropdown-menu-right dropdown-medias">
        <li class="dropdown-media-container ">
          <ul class="list-unstyled">
            <li>
              <%= link_to "Les guides", guides_path, class: "" %>
            </li>
             <li role="separator" class="divider"></li>
            <li>
              <%= link_to "La toiture", la_couverture_guide_index_path, class: "" %>
            </li>
            <li>
              <%= link_to "La couverture", la_couverture_guide_index_path, class: "" %>
            </li>
            <li><%= link_to "La charpente", la_charpente_guide_index_path, class: "" %></li>
          </ul>
          <ul class="list-unstyled">
            <li><%= link_to "test colonne 2", la_charpente_guide_index_path, class: "" %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="navbar-wagon-item">
    <div class="dropdown">
      <a class="navbar-wagon-link dropdown-toggle" id="navbar-wagon-menu", data-toggle ="dropdown">Magazine</a>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li class="dropdown-media-container ">
          <ul class="list-unstyled">
            <li>
              <%= link_to "Magazine", magazine_index_path, class: "navbar-wagon-item navbar-wagon-link" %>
            </li>
            <li>
              <%= link_to "New article", new_article_path, class: "navbar-wagon-item navbar-wagon-link" %>
            </li>
            <li><%= link_to "Article Index", articles_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
            <li><%= link_to "Magazine Index", magazine_index_path, class: "navbar-wagon-item navbar-wagon-link" %></li>

          </ul>
          <ul class="list-unstyled">
            <li>
              <%= link_to "Catégorie énergie", energie_magazine_index_path, class: "navbar-wagon-item navbar-wagon-link" %>
            </li>
            <li><%= link_to "article énergie", energie_photovoltaique_2017_magazine_index_path, class: "navbar-wagon-item navbar-wagon-link" %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>




    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

      <!-- Notification -->
      <%#= link_to "#", class: "navbar-wagon-item navbar-wagon-link" do %>
<!--         <div class="badge-container">
          <i class="fa fa-envelope-o"></i>
          <div class="badge badge-blue">3</div>
        </div> -->
      <%# end %>

      <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag "http://placehold.it/30x30", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Me déconnecter") %>
              <% end %>
            </li>
            <li>
              <%= link_to edit_user_registration_path do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Mon profil") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

    <% else %>
      <!-- Login text link -->
        <button type="button" class="navbar-wagon-item navbar-wagon-link" id="connect-btn-navbar" data-toggle="modal" data-target="#signin_modal ">Espace pro</button>
        <!-- Modal telephone -->
        <div class="modal fade" id="signin_modal" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Ravi de vous revoir</h3>
              </div>
              <div class="modal-body">
              <%= render "devise/sessions/new_navbar", resource: resource, resource_name: resource_name %>
              </div>
            </div>
          </div>
        </div>
    <% end %>

    <% if worker_signed_in? %>

      <!-- Notification -->
      <%#= link_to "#", class: "navbar-wagon-item navbar-wagon-link" do %>
<!--         <div class="badge-container">
          <i class="fa fa-envelope-o"></i>
          <div class="badge badge-blue">3</div>
        </div> -->
      <%# end %>

      <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag "http://placehold.it/30x30", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to destroy_worker_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Me déconnecter") %>
              <% end %>
            </li>
            <li>
              <%= link_to edit_worker_registration_path do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Mon profil") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

    <% else %>
      <!-- Login text link -->
        <button type="button" class="navbar-wagon-item navbar-wagon-link" id="connect-btn-navbar" data-toggle="modal" data-target="#signin_modal_worker ">Espace candidat</button>
        <!-- Modal telephone -->
        <div class="modal fade" id="signin_modal_worker" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Ravi de vous revoir</h3>
              </div>
              <div class="modal-body">
              <%= render "workers/sessions/new_navbar_worker", resource: resource, resource_name: resource_name %>
              </div>
            </div>
          </div>
        </div>
    <% end %>

  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div>
</div>

