<div class="navbar-wagon">
  <!-- Logo -->
  <div class="navbar-wagon-brand">
  <%= link_to root_path, class: "navbar-wagon-brand navbar-wagon-item navbar-wagon-link" do %>
    <%= image_tag "logonavbar2.png" %>
    <p class="hidden-sm hidden-xs">L'annuaire des professionnels de la toiture</p>
    <% if user_signed_in? == false %>
    <div class="navbar-wagon-item hidden-md hidden-lg">
      <%= link_to "Inscription", new_user_registration_path, class: "navbar-wagon-item navbar-wagon-link inscription-btn" %>
    </div>
    <% end %>
  <% end %>

<!--     <div class="hidden-xs hidden-sm">
      <div class="navbar-wagon-item">
        <#%= link_to 'Retour', :back, class: "navbar-wagon-item navbar-wagon-link" %>
      </div>
    </div> -->
  </div>



  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

  <%= link_to t(".top_call_to_action", default: "Annuaire"), users_path, class: "navbar-wagon-item navbar-wagon-button btn" %>


<!-- lien guide -->
  <div class="navbar-wagon-item">
    <%= link_to "Guides", guides_path, class: "navbar-wagon-item navbar-wagon-link" %>
  </div>

<!-- lien magazine -->

  <div class="navbar-wagon-item">
    <%= link_to "Magazine", articles_path, class: "navbar-wagon-item navbar-wagon-link" %>
  </div>

    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>
        <div class="navbar-wagon-item">
          <div class="dropdown">
          <% if current_user.photo != nil %>
            <%= cl_image_tag current_user.photo.path, width: 50, height: 50, crop: :fill, class: "worker-avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown", style: "border-radius:50%;" %>
          <% elsif current_user.photo_company_logo != nil %>
            <%= cl_image_tag current_user.photo_company_logo.path, width: 50, height: 50, crop: :fill, class: "worker-avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown", style: "border-radius:50%;" %>
          <% else %>
            <button type="button" class="navbar-wagon-item navbar-wagon-link connect-btn-navbar" id="worker-btn-navbar" data-toggle="dropdown">Mon compte</button>
            <% end %>
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <li>
                <%= link_to edit_user_path(current_user) do %>
                  <i class="fa fa-user"></i> <%= t(".profile", default: "Mon profil") %>
                <% end %>
              </li>
              <li>
                <%= link_to annuaire_des_candidats_users_path do %>
                  <i class="fa fa-users"></i> <%= t(".profile", default: "Index des candidats") %>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Me déconnecter") %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>

    <% else %>

    <div class="navbar-wagon-item">
      <div class="dropdown">
        <button type="button" class="navbar-wagon-item navbar-wagon-link connect-btn-navbar inscription-btn-navbar" data-toggle="dropdown">Inscription</button>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
          <%= link_to "Professionnel", new_user_registration_path(status: :pro), class: "navbar-wagon-item navbar-wagon-link" %>
          </li>
          <li>
          <%= link_to "Association", new_user_registration_path(status: :institution), class: "navbar-wagon-item navbar-wagon-link" %>
          </li>
          <li>
          <%= link_to "Candidat", new_user_registration_path(status: :worker), class: "navbar-wagon-item navbar-wagon-link" %>
          </li>
        </ul>
      </div>
    </div>
      <!-- Login text link -->

        <button type="button" class="navbar-wagon-item navbar-wagon-link connect-btn-navbar" id="worker-btn-navbar" data-toggle="modal" data-target="#signin_modal_worker">Connexion</button>
        <!-- Modal telephone -->
        <div class="modal fade" id="signin_modal_worker" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Connexion</h4>
              </div>
              <div class="modal-body">
              <%= render "devise/sessions/new_navbar" %>
              </div>
            </div>
          </div>
        </div>

    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li>
          <%= link_to "Annuaire", users_path, class: "navbar-wagon-item navbar-wagon-link"%>
        </li>
        <li>
          <%= link_to "Guides", guides_path, class: "navbar-wagon-item navbar-wagon-link" %>
        </li>
        <li>
          <%= link_to "Magazine", articles_path, class: "navbar-wagon-item navbar-wagon-link" %>
        </li>
        <li>
          <%= link_to "Accueil", root_path, class: "navbar-wagon-item navbar-wagon-link" %>
        </li>
        <% if user_signed_in? %>
        <li class="divider"></li>
        <li>
          <%= link_to edit_user_path(current_user) do %>
            <i class="fa fa-user"></i> <%= t(".profile", default: "Mon profil") %>
          <% end %>
        </li>
        <li>
          <%= link_to annuaire_des_candidats_users_path do %>
            <i class="fa fa-users"></i> <%= t(".profile", default: "Index des candidats") %>
          <% end %>
        </li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Me déconnecter") %>
          <% end %>
        </li>
        <% else %>
        <li class="divider"></li>
        <li>
          <%= link_to "Connexion / Inscription",  new_user_session_path, class: "navbar-wagon-item navbar-wagon-link yellow-link-xs" %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

