<div class="container">
  <div class="row">
  <% users.each do |user| %>
    <div class="col-xs-12 col-sm-4">
      <div class="user_index_card">
        <% if user.photo? %>
            <%= cl_image_tag user.photo.path, width: 150, height: 150,crop: :thumb, gravity: :face, class: "user-avatar" %>
        <% end %>
        <span><%= user.first_name %> <%= user.last_name %></span>
        <span><%= user.email %></span>
        <span><%= user.mobile_phone %></span>
        <% if user.cv? %>
          <div class="modal_phone">
            <button type="button" class="fa fa-address-card" data-toggle="modal" data-target="#myModalcv<%= user.id %> "></button>
            <!-- Modal telephone -->
            <div class="modal fade" id="myModalcv<%= user.id %>" role="dialog">
              <div class="modal-dialog" id="user-modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">

                 <embed <%= cl_image_tag user.cv.path, width: 1000, height: 600 %> >
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  </div>
</div>
