

<div class="container emergency-form">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <p class="text-center" style="color:orange;">- Ce service est gratuit -</p>
      <p>Cette demande sera immédiatement envoyée à des professionnels qualifiés qui vous répondront dans les meilleurs délais.</p>
      <p style="font-weight: lighter; font-size: 0.8em;">Respect de la vie Privée - Les données recueillies ne seront transmises qu'aux professionnels aptes à répondre à votre demande.</p>
      <div class="emergency_form">
        <%= simple_form_for(@client) do |f| %>
          <%= f.input :address, placeholder: "Lieu des travaux", autofocus: true, label:false %>
        <div class="row row-emergency-check-box-form">
          <div class="col-xs-12 col-sm-4 col-sm-offset-2">
            <p>Nature des travaux</p>
            <label><%= f.check_box :couverture %> <span>Couverture - Isolation</span></label>
            <div>
            <label><%= f.check_box :charpente %>
            <span>Charpente</span></label>
            </div>
            <div><label><%= f.check_box :ouverture %> <span>Fenêtre - Ouverture</span></label></div>
            <div>
            <label><%= f.check_box :terrasse %>
            <span>Terrasse - balcon</span></label>
            </div>
            <div>
            <label><%= f.check_box :plomberie %>
            <span>Fuites - Ecoulement</span></label>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-sm-offset-2">
            <p>Type de batiment</p>
            <div>
            <label><%= f.check_box :maison %>
            <span>Maison</span></label>
            </div>
            <div>
            <label><%= f.check_box :immeuble %>
            <span>Immeuble</span></label>
            </div>
            <div>
            <label><%= f.check_box :chateau %>
            <span>Chateau</span></label>
            </div>
            <label><%= f.check_box :locaux_industriels %>
            <span>Local industriel</span></label>
            </div>
          </div>
        </div>
          <%= f.input :message, placeholder: "N'hésitez pas à détailler votre demande. Plus celle-ci sera précise plus il sera facile pour les professionnels de vous répondre." %>
          <div class="row">
            <div class="col-xs-12 col-sm-3">
              <%= f.input :first_name %>
            </div>
            <div class="col-xs-12 col-sm-3">
              <%= f.input :last_name, required: true %>
            </div>
            <div class="col-xs-12 col-sm-3">
              <%= f.input :phone_number, required: true %>
            </div>
            <div class="col-xs-12 col-sm-3">
              <%= f.input :email, required: true %>
            </div>
          </div>
        <div class="text-center">
          <%= f.submit "ENVOYEZ VOTRE DEMANDE", class: "navbar-wagon-button in_page" %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<%= content_for(:after_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyC0J8yKgp1HNvXsiK1_H_PCAz2f-D9Zq4Y"></script>
<% end %>

