<%= render 'shared/fix_cta' %>
<%= render "shared/form", client: @client %>

<% if @available_users != [] %>
  <h3 class="text-center"> Il y a <%= @available_users.count %> prestataires près de chez vous</h3>
<% else %>
  <h3 class="text-center"> Il y a <%= @radius_users.count %> prestataires dans votre secteur, affinez votre recherche ci-dessus</h3>
<% end %>

<div class="container">
  <% if @available_users != [] %>
    <% @available_users.each do |user| %>
      <%= render "shared/card_users", user: user %>
    <% end %>
  <% else %>
    <% @radius_users.each do |user| %>
      <%= render "shared/card_users", user: user %>
    <% end %>
  <% end %>
</div>



