
<div class="banner">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <%= image_tag 'user_base_pic.png' %>
        <div class="carousel-caption">
        </div>
      </div>
      <div class="item">
        <%= image_tag 'user_base_pic.png' %>
        <div class="carousel-caption">
        </div>
      </div>
    </div>
  </div>
  <div class="home_container">
    <h3>Belle toiture</h3>
    <p>Pour vous, nous référencons les meilleurs professionnels de la toiture en France</p>
    <%= simple_form_for(@client) do |f| %>
      <%= f.input :address, placeholder: "Lieu des travaux", autofocus: true, label:false %>
          <h5>Travaux</h5>
          <div class="flexbox">
            <div><%= f.check_box :couverture %> <span>couverture</span></div>
            <div>
            <%= f.check_box :charpente %>
            <span>charpente</span>
            </div>
            <div><%= f.check_box :ouverture %> <span>fenêtre / ouverture</span></div>
            <div>
            <%= f.check_box :terrasse %>
            <span>terrasse</span>
            </div>
            <div>
            <%= f.check_box :plomberie %>
            <span>eaux de pluies / zinguerie</span>
            </div>
          </div>
          <h5>Type de bien</h5>
          <div class=flexbox>
            <div>
            <%= f.check_box :maison %>
            <span>maison</span>
            </div>
            <div>
            <%= f.check_box :immeuble %>
            <span>immeuble</span>
            </div>
            <div>
            <%= f.check_box :chateau %>
            <span>chateau</span>
            </div>
            <div>
            <%= f.check_box :monument_historique %>
            <span>classé monument historique</span>
            </div>
          </div>

          <h5>Besoin</h5>
          <div class="flexbox">
            <div>
            <%= f.check_box :construction %>
            <span>construction</span>
            </div>
            <div>
            <%= f.check_box :renovation %>
            <span>rénovation</span>
            </div>
            <div>
            <%= f.check_box :entretien %>
            <span>entretien</span>
            </div>
          </div>
          <div class="text-center">
      <%= f.submit  "Rechercher des pros", class: "navbar-wagon-button" %>
          </div>
    <% end %>
  </div>
</div>










          <%= link_to users_path, class: "main-cta" do %>
            <span>Liste des pros</span>
          <% end %>
          <br>
          <%= link_to edit_user_registration_path, class: "main-cta" do %>
            <span>edit pro</span>
          <% end %>
          <br>
          <%= link_to new_client_path, class: "main-cta" do %>
            <span>Rechercher des pros près de chez moi</span>
          <% end %>


      <!-- Media -->
      <h1>Partie Media</h1>
      <br>
      <h3>Index guides</h3>
      <%= link_to guides_path, class: "main-cta" do %>
        <span>Index guides</span>
      <% end %>
      <br>
      <br>
      <h3>Index Magazine</h3>
        <%= link_to magazine_index_path, class: "main-cta" do %>
          <span>Index Magazine</span>
        <% end %>
        <br>
      <br>
      <h3>Catégorie énergie</h3>
        <%= link_to energie_magazine_index_path, class: "main-cta" do %>
          <span>Catégorie énergie</span>
        <% end %>
        <br>

        <br>
      <h3>Article</h3>
        <%= link_to energie_photovoltaique_2017_magazine_index_path, class: "main-cta" do %>
          <span>Catégorie énergie</span>
        <% end %>
        <br>

      <br>


<%= content_for(:after_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyC0J8yKgp1HNvXsiK1_H_PCAz2f-D9Zq4Y"></script>
<% end %>




