<%= render 'shared/fix_cta' %>
<div class="home-banner";">

  <h3>surmatete.fr</h3>
  <h2>L'annuaire des professionnels de la toiture, mais pas que...</h2>

  <!-- form -->
  <div class="form_home">
  <%= simple_form_for(@client) do |f| %>
    <div class="home_container">
      <div class="main-form-stuffs">
      <%= f.input :address, placeholder: 'Ville, CP, Adresse', autofocus: true, label:false %>
      </div>
      <div class="dropdown main-form-stuffs">
        <button class="btn btn-default custom-drop-down-btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Type de travaux
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-size-custom" aria-labelledby="dropdownMenu1">
          <li><label><%= f.check_box :couverture %> <span> couverture</span></label></li>
          <li><label><%= f.check_box :charpente %><span> charpente</span></label></li>
          <li><label><%= f.check_box :ouverture %> <span> fenêtre / ouverture</span></label></li>
          <li><label><%= f.check_box :terrasse %><span> terrasse</span></label></li>
          <li><label><%= f.check_box :plomberie %><span> eaux de pluies / zinguerie</span></label></li>
        </ul>
      </div>
      <div class="dropdown main-form-stuffs">
        <button class="btn btn-default custom-drop-down-btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Type de bien
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-size-custom" aria-labelledby="dropdownMenu1">
          <li><label><%= f.check_box :maison %><span> maison</span></label></li>
          <li><label><%= f.check_box :immeuble %><span> immeuble</span></label></li>
          <li><label><%= f.check_box :chateau %><span> chateau</span></label></li>
          <li><label><%= f.check_box :monument_historique %><span> monument historique</span></label></li>
        </ul>
      </div>
      <div class="dropdown main-form-stuffs">
        <button class="btn btn-default custom-drop-down-btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Besoin
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><label><%= f.check_box :construction %><span> construction</span></label></li>
          <li><label><%= f.check_box :renovation %><span> rénovation</span></label></li>
          <li><label><%= f.check_box :entretien %><span> entretien</span></label></li>
        </ul>
      </div>
      <div class="main-form-stuffs">
        <%= button_tag type: 'submit', class: "search-button" do %>
        <i class="fa fa-search" aria-hidden="true"></i>
        <% end %>
      </div>
    </div>
  <% end %>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-1 presentation-site-home" id="border-presentation-site-home">
      <h3>Trouvez en quelques clics le professionnel correspondant à vos besoins et à vos critères</h3>
      <p>Le site www.loremipsum.fr est un <strong> vrai guide gratuit</strong> d'informations et de conseils pour <strong>bien faire rénover sa toiture ou sa terrasse</strong>.</p>
      <p>En fonction de vos besoins, construction,réparation,  en type d'hébergement (accueil de jour, Alzheimer, Snoezelen ..., sans oublier les résidences services, les résidences autonomie) et de l'urgence éventuelle (places disponibles) trouvez et comparez en quelques clics.</p>
      <p>Portail clair et aéré, le site regorge d'informations essentielles concernant entre autres les aides ou allocations, les tarifs et la tarification en maison de retraite, d'adresses utiles et de liens indispensables. Il vous conseille pour bien choisir la maison de retraite ou l'Ehpad et vous informe des démarches à suivre pour l'entrée en maison de retraite.</p>
    </div>
    <div class="col-xs-12 col-sm-5 col-sm-offset-1 text-center presentation-site-home">
      <div class="home-icones">
        <i class="fa fa-address-card-o fa-3x" aria-hidden="true"></i>
        <p>Un <span>Annuaire</span> avec les fiches complètes des professionnels</p>
        <%= link_to "Consulter l'annuaire", users_path, class: "small-link-home" %>
      </div>
      <div class="home-icones">
        <i class="fa fa-file-text-o fa-3x" aria-hidden="true"></i>
        <p>Comprenez tout sur la toiture grace aux <span>guides</span></p>
        <%= link_to "Voir les guides", guides_path, class: "small-link-home" %>
      </div>
      <div class="home-icones">
        <i class="fa fa-newspaper-o fa-3x" aria-hidden="true"></i>
        <p>Découvrez l'actualité et les tendances dans le <span>magazine</span></p>
        <%= link_to "Voir le magazine", magazine_index_path, class: "small-link-home" %>
      </div>
    </div>
  </div>
</div>


<!-- cards explicatives -->




<!-- Card ANNUAIRE -->
<div class="container annuaire-card-home">
  <div class="row row-annuaire-card-home">
    <div class="col-xs-12 col-sm-5">
      <h1>Annuaire</h1>
      <h2>Des professionnels de qualité</h2>
      <ul>
        <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Structure juridique de plus de 2 ans</li>
        <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Assurance de responsabilité décennale</li>
        <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Assurance de responsabilité civile professionnelle</li>
        <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Coordonnées complètes</li>
        <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Présentation des projets réalisés</li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-7">
      <div class="prez_show_user"></div>
    </div>
  </div>
</div>

<!-- guides -->
<div class="container">
  <div class="row row-guides-card-home">
  <h1 class="text-center" style="font-size: 27px;">Pour mieux comprendre votre toit, consultez nos guides...</h1>
    <div class="col-xs-12 col-sm-4">
      <div class="card-home-guide" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.1)), url(<%= asset_path 'toit_ancien.jpg' %>);">
        <div class="card-home-text">
          <h2 class="text-center">La toiture</h2>
          <p class="text-center">Lorem ipsum Lorem ipsum Lorem ipsum </p>
        </div>
        <%= link_to la_toiture_guide_index_path, class: "card-link-home-guide" do %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card-home-guide" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.1)), url(<%= asset_path 'toit_ancien.jpg' %>);">
        <div class="card-home-text">
          <h2 class="text-center">La couverture</h2>
          <p class="text-center">Lorem ipsum Lorem ipsum Lorem ipsum </p>
        </div>
        <%= link_to la_couverture_guide_index_path, class: "card-link-home-guide" do %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card-home-guide" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.1)), url(<%= asset_path 'toit_ancien.jpg' %>);">
        <div class="card-home-text">
          <h2 class="text-center">La charpente</h2>
          <p class="text-center">Lorem ipsum Lorem ipsum Lorem ipsum </p>
        </div>
        <%= link_to la_charpente_guide_index_path, class: "card-link-home-guide" do %>
        <% end %>
      </div>
    </div>
  </div>
</div>








<div class="container">
  <div class="row">
    <div class="col-xs-12">
    <!-- Media -->
    <h1>Partie Media</h1>

    <br>
    <br>


      <%= link_to new_article_path, class: "main-cta" do %>
        <span>New article</span>
      <% end %>
      <br>

      <%= link_to articles_path, class: "main-cta" do %>
        <span>Article Index</span>
      <% end %>

    <h3>Index articles </h3>

    <h3>Index Magazine</h3>
      <%= link_to magazine_index_path, class: "main-cta" do %>
        <span>Index Magazine</span>
      <% end %>
      <br>
    <br>
    <h3>Catégorie énergie</h3>
      <%= link_to energie_magazine_index_path, class: "main-cta" do %>
        <span>Catégorie énergie</span>
      <% end %>
      <br>

      <br>
    <h3>Article</h3>
      <%= link_to energie_photovoltaique_2017_magazine_index_path, class: "main-cta" do %>
        <span>Catégorie énergie</span>
      <% end %>
      <br>

    </div>
  </div>
</div>
