<%= render 'shared/fix_cta' %>

<div class="hidden-xs hidden-sm">
<!-- banner et form -->
  <div id="slideshow">
    <div class="slide" style="background: linear-gradient(155deg, rgba(5, 5, 5, 0.6) 10%, rgba(5, 5, 5, 0.2) 80%), url('<%= image_path "tuiles.png" %>');">
    </div>
    <div class="slide" style="background: linear-gradient(155deg, rgba(5, 5, 5, 0.6) 10%, rgba(5, 5, 5, 0.2) 80%), url('<%= image_path "user_base_pic.png" %>');">
    </div>
    <div class="slide" style="background: linear-gradient(155deg, rgba(5, 5, 5, 0.6) 10%, rgba(5, 5, 5, 0.2) 80%), url('<%= image_path "tuileszoom.png" %>');">
    </div>
  </div>
  <div class="home-banner" style="background: linear-gradient(155deg, rgba(5, 5, 5, 0.6) 10%, rgba(5, 5, 5, 0.2) 80%), url('<%= image_path "basque.png" %>');">


    <h3>Lestoitures.fr</h3>
    <h1>L'annuaire des professionnels de la toiture</h1>

    <!-- form -->
    <div class="form_home">
    <%= simple_form_for(@client, url: users_path, method: :get) do |f| %>
      <div class="home_container">
        <div class="main-form-stuffs">
        <%= f.input :address, placeholder: 'Ville / Code Postal', autofocus: true, label:false %>
        </div>
        <div class="dropdown main-form-stuffs">
          <button class="btn btn-default custom-drop-down-btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Nature des travaux
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-size-custom keep-open-on-click" aria-labelledby="dropdownMenu1">
            <li><label><%= f.check_box :couverture %> <span>Couverture - Isolation</span></label></li>
            <li><label><%= f.check_box :ouverture %> <span> Fenêtre - Ouverture</span></label></li>
            <li><label><%= f.check_box :charpente %><span> Charpente</span></label></li>
            <li><label><%= f.check_box :terrasse %><span> Terrasse</span></label></li>
            <li><label><%= f.check_box :plomberie %><span> Fuite - Eaux usées</span></label></li>
          </ul>
        </div>
        <div class="dropdown main-form-stuffs">
          <button class="btn btn-default custom-drop-down-btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Type de batiment
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-size-custom keep-open-on-click" aria-labelledby="dropdownMenu1">
            <li><label><%= f.check_box :maison %><span> Maison</span></label></li>
            <li><label><%= f.check_box :immeuble %><span> Immeuble</span></label></li>
            <li><label><%= f.check_box :chateau %><span> Chateau</span></label></li>
            <li><label><%= f.check_box :locaux_industriels %><span> Local industriel</span></label></li>
          </ul>
        </div>
        <div class="main-form-stuffs">
          <%= button_tag type: 'submit', class: "search-button" do %>
          <i class="fa fa-search" aria-hidden="true"></i>
          <% end %>
        </div>
      </div>
    <% end %>
    </div>

  </div>
</div>

<div class="home-banner-xs hidden-md hidden-lg" style="background: linear-gradient(155deg, rgba(5, 5, 5, 0.6) 10%, rgba(5, 5, 5, 0.2) 80%), url('<%= image_path "basque.png" %>');">
  <h3 class="text-center">Lestoitures.fr</h3>
  <h4 class="text-center">L'annuaire des professionnels de la toiture</h4>
</div>
<div class="container hidden-md hidden-lg form-xs">
  <div class="row">
    <div class="col-xs-12">
      <%= simple_form_for(@client, url: users_path, method: :get) do |f| %>
      <%= f.input :address, placeholder: 'Ville, Code Postal', autofocus: true, label:false, input_html: {id: "client_address_form-xs"}  %>
      <div class="dropdown main-form-stuffs">
        <button class="btn btn-default custom-drop-down-btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Nature des travaux
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-size-custom dropdown-form-home-xs keep-open-on-click" aria-labelledby="dropdownMenu1">
          <li><label><%= f.check_box :couverture %> <span>Couverture - Isolation</span></label></li>
          <li><label><%= f.check_box :ouverture %> <span> Fenêtre - Ouverture</span></label></li>
          <li><label><%= f.check_box :charpente %><span> Charpente</span></label></li>
          <li><label><%= f.check_box :terrasse %><span> Terrasse</span></label></li>
          <li><label><%= f.check_box :plomberie %><span> Fuite - Eaux usées</span></label></li>
        </ul>
      </div>
      <div class="dropdown main-form-stuffs">
        <button class="btn btn-default custom-drop-down-btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Type de bien
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-size-custom dropdown-form-home-xs keep-open-on-click" aria-labelledby="dropdownMenu1">
          <li><label><%= f.check_box :maison %><span> Maison</span></label></li>
          <li><label><%= f.check_box :immeuble %><span> Immeuble</span></label></li>
          <li><label><%= f.check_box :chateau %><span> Chateau</span></label></li>
          <li><label><%= f.check_box :locaux_industriels %><span> Local industriel</span></label></li>
        </ul>
      </div>
        <%= button_tag type: 'submit', class: "search-button", id: "search-button-form-xs" do %>
        Rechercher
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<!-- card presentation -->
<div class="container card-presentation-container">
  <div class="row">
    <div class="col-xs-12 hidden-xs hidden-md col-sm-12 presentation-site-home" id="border-presentation-site-home">
      <h3>Le premier site spécialisé dans la toiture qui combine :</h3>
    </div>
    <div class="col-xs-12 col-sm-4 text-center presentation-site-home">
      <%= link_to users_path, class: "card-link-home" do %>
        <div class="home-icones">
          <i class="fa fa-address-card-o fa-3x" aria-hidden="true"></i>
          <p><span>Un Annuaire</span> avec les fiches complètes des professionnels</p>
          <%= link_to "Consulter l'annuaire", users_path, class: "small-link-home" %>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-4 text-center presentation-site-home">
      <%= link_to guides_path, class: "card-link-home" do %>
        <div class="home-icones">
          <i class="fa fa-file-text-o fa-3x" aria-hidden="true"></i>
          <p><span>3 Guides</span> d'informations sur les travaux de toiture</p>
          <%= link_to "Voir les guides", guides_path, class: "small-link-home" %>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-4 text-center presentation-site-home">
      <%= link_to articles_path, class: "card-link-home" do %>
        <div class="home-icones">
          <i class="fa fa-newspaper-o fa-3x" aria-hidden="true"></i>
          <p><span>Un Magazine</span> dédié à l'univers de la toiture</p>
          <%= link_to "Voir le magazine", articles_path, class: "small-link-home" %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<!-- Card guides -->
<div class="banner-guide">
  <div class="container guide-card-home">
    <div class="row row-guide-card-home">
      <div class="col-xs-12 col-sm-12">
        <%= link_to guides_path do %>
          <h1 style="margin-bottom: 50px;">Les guides</h1>
        <% end %>
      </div>
      <div class="col-xs-12 col-sm-4 card-guide">
        <div class="card-home-guide" style="background: linear-gradient(155deg, rgba(5, 5, 5, 0.6) 10%, rgba(5, 5, 5, 0.2) 80%), url(<%= asset_path 'chaumiere.jpg' %>);">
            <h2 class="text-center">La toiture</h2>
            <p class="text-center">L'essentiel pour bien comprendre les enjeux à tous les stades de votre projet : plannings, gestion des devis...</p>
          <%= link_to la_toiture_guide_index_path, class: "card-link-home-guide" do %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 card-guide">
        <div class="card-home-guide" style="background: linear-gradient(155deg, rgba(5, 5, 5, 0.6) 10%, rgba(5, 5, 5, 0.2) 80%), url(<%= asset_path 'lauze.jpg' %>);">
          <div class="card-home-text">
            <h2 class="text-center">La couverture</h2>
            <p class="text-center">De nombreuses possibilités s'offrent à vous : types de revêtements, création d'ouvertures...</p>
          </div>
          <%= link_to la_couverture_guide_index_path, class: "card-link-home-guide" do %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 card-guide">
        <div class="card-home-guide" style="background: linear-gradient(155deg, rgba(5, 5, 5, 0.6) 10%, rgba(5, 5, 5, 0.2) 80%), url(<%= asset_path 'construction_toit.jpg' %>);">
          <div class="card-home-text">
            <h2 class="text-center">La charpente</h2>
            <p class="text-center">La charpente est l'ossature du toit, son choix dépend de l'usage du futur toit et du style de couverture désiré</p>
          </div>
          <%= link_to la_charpente_guide_index_path, class: "card-link-home-guide" do %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Card Annuaire -->
<div class="container annuaire-card-home">
  <div class="row row-annuaire-card-home">
    <div class="col-xs-12">
    <%= link_to users_path do %>
      <h1 style="margin-bottom: 40px;">L'annuaire</h1>
    <% end %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h2>Référencement des acteurs</h2>
      <ul>
        <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Les entreprises et les artisans</li>
        <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Les institutions</li>
        <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Les associations de professionnels</li>
      </ul>
    </div>
     <div class="col-xs-12 col-sm-4">
      <h2>Un répertoire par spécialité</h2>
      <ul>
        <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Recherche par types de prestation</li>
        <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Coordonnées complètes des pros</li>
        <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Recherche par labels (Qualibat, ...) et par association (MNH, ...)</li>
      </ul>
    </div>
     <div class="col-xs-12 col-sm-4">
      <h2>Mise en valeur des artisans</h2>
      <ul>
        <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Présentation de l'entreprise</li>
        <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Présentation des projets réalisés</li>
        <li><i class="fa fa-check-square-o" aria-hidden="true"></i> Présentation des articles publiés</li>
      </ul>
    </div>
    <div class="col-xs-12 hidden-xs hidden-sm" id="center-form-annuaire">
      <div class="form_home">
      <%= simple_form_for(@client) do |f| %>
        <div class="home_container">
          <div class="main-form-stuffs">
          <%= f.input :address, placeholder: 'Ville, Code Postal', autofocus: true, label:false, input_html: {id: "client_address_2nd_form"}  %>
          </div>
          <div class="dropdown main-form-stuffs">
            <button class="btn btn-default custom-drop-down-btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Nature des travaux
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-size-custom keep-open-on-click" aria-labelledby="dropdownMenu1">
              <li><label><%= f.check_box :couverture %> <span>Couverture - Isolation</span></label></li>
              <li><label><%= f.check_box :ouverture %> <span> Fenêtre - Ouverture</span></label></li>
              <li><label><%= f.check_box :charpente %><span> Charpente</span></label></li>
              <li><label><%= f.check_box :terrasse %><span> Terrasse</span></label></li>
              <li><label><%= f.check_box :plomberie %><span> Fuite - Eaux usées</span></label></li>
            </ul>
          </div>
          <div class="dropdown main-form-stuffs">
            <button class="btn btn-default custom-drop-down-btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <span> Type de batiment</span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-size-custom keep-open-on-click" aria-labelledby="dropdownMenu1">
              <li><label><%= f.check_box :maison %><span> Maison</span></label></li>
              <li><label><%= f.check_box :immeuble %><span> Immeuble</span></label></li>
              <li><label><%= f.check_box :chateau %><span> Chateau</span></label></li>
              <li><label><%= f.check_box :locaux_industriels %><span> Local industriel</span></label></li>
            </ul>
          </div>
          <div class="main-form-stuffs">
            <%= button_tag type: 'submit', class: "search-button" do %>
            <i class="fa fa-search" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Card magazine -->
<div class="banner-magazine">
  <div class="container annuaire-card-home">
    <div class="row row-annuaire-card-home">
      <div class="col-xs-12 col-md-12">
        <h3 class="text-center" style="margin-bottom: 10px; font-size: 22px; padding: 10px;">Derniers articles parus</h3>
      </div>
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <% @articles.each do |article| %>
        <div class="col-xs-12 col-md-4">
          <%= render "shared/card_article", article: article %>
        </div>
        <% end %>
      </div>
      <div class="col-xs-12 col-md-12">
        <%= link_to articles_path do %>
          <h1 style="margin-bottom: 40px;">Accéder au Magazine</h1>
        <% end %>
      </div>
    </div>
  </div>
</div>



