<div class="wrapper" style="font-family: 'Roboto', 'sans-serif';">
  <h3>Bonjour <%= @destinataire.first_name %> <%= @destinataire.last_name %>,</h3>

    <% if @client.last_name != nil %>
      <h4>Mme/Mr <%= @client.last_name %> vient de consulter le <%= link_to "profil", user_url(@destinataire) %> de <strong><%= @destinataire.company %></strong> sur <%= link_to "www.lestoitures.fr", root_url %> et vous a envoyé un message afin que vous la/le recontactiez.</h4>
    <% elsif %>
      <h4>Un internaute vient de consulter votre profil sur <%= link_to "www.lestoitures.fr", root_url %> et vous a envoyé un message afin que vous le recontactiez.</h4>
    <% end %>

  <div class="container" style="border-color:grey;border-style: dashed;border-width: 1px;padding:10px;">

    <% if @client.message != nil %>
      <p style="color:#FEC919;font-weight:bold">Message envoyé :</p>
      <%= @client.message %>
    <% end %>

    <% if @client.phone_number != nil %>
      <p style="color:#FEC919;font-weight:bold">Téléphone : </p><%= @client.phone_number %>
    <% end %>

    <% if @client.email!= nil %>
      <p style="color:#FEC919;font-weight:bold">Email : </p><%= @client.email %>
    <% end %>

  </div>

  <p>Nous vous souhaitons une excellente journée et n'hésitez pas à nous contacter par courriel (contact@lestoitures.fr) si vous avez des questions.</p>

  <p style="font-style: italic">L'équipe lestoitures.fr</p>

  <img src="https://www.lestoitures.fr/assets/logonavbar2-56b902cd2fdd49a418921e9949f00da74ee6955fe7d06dfecbcb05a09f751033.png"/>

</div>
