
<% if @client.last_name != nil %>
  <h4>Mr/Mme <%= @client.last_name %> a vu votre profil sur <%= link_to "www.lestoitures.fr", root_url %> et souhaite être recontacté.</h4>
<% elsif %>
  <h4>Un client a vu votre profil sur <%= link_to "www.lestoitures.fr", root_url %> et souhaite être recontacté.</h4>
<% end %>

<% if @client.message != nil %>
  <p>Besoin du client</p>
  <%= @client.message %>
<% end %>

<% if @client.email != nil %>
  <p>Email : </p><%= @client.message %>
<% end %>

<% if @client.phone_number != nil %>
  <p>Téléphone : </p><%= @client.phone_number %>
<% end %>

<% if @client.email!= nil %>
  <p>Email : </p><%= @client.email %>
<% end %>



<%= link_to "Revenir au site", root_url %>

