<%= render 'shared/guides_top_banner' %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <div class='guide-page'>

        <ol class="breadcrumb">
          <li><a href="/">Accueil</a></li>
          <li><%= link_to "Les guides", guides_path %></li>
          <li><%= link_to "La couverture", la_couverture_guide_index_path %></li>
          <li class="active">Bien choisir sa couverture</li>
        </ol>

        <%= render 'shared/share_links' %>
        <header>
          <h1 itemprop="headline" class="text-center">Bien choisir sa couverture</h1>
        </header>
        <p class="italic">La couverture contribue à la protection mais aussi au confort et à l’esthétisme de la maison. Le choix de la couverture est un élément où le propriétaire dispose d'une marge de manoeuvre importante qui donnera sa personnalité à la maison. Voici nos conseils pour orienter aux mieux vos choix. </p>

        <h2>De quoi se compose la couverture d'une maison</h2>

        <p>La couverture regroupe l’ensemble des matériaux qui recouvrent un bâtiment pour le protéger de l’extérieur (intempéries, humidité, vent… ). La couverture, autrefois simplement composé des matériaux de couverture disposés sur la charpente, s'est complexifiée pour répondre aux enjeux actuels : habitabilité, comfort, économie d'énergie, luminosité... Elle regroupe à la fois les éléments protecteurs du toit mais aussi de l'intérieur de la maison</p>

        <p>La couverture est constituée de différents éléments qui jouent chacun un rôle spécifique :</p>
        <ul>
          <li>les matériaux de couvertures (tuiles, ardoises etc.)</li>
          <li>une éventuelle sous-toiture permettant l’étanchéité et la ventilation</li>
          <li>une isolation thermique et et phonique</li>
          <li>la zinguerie permettant l'évacuation des eaux</li>
          <li>des ouvertures de toit afin de faire pénétrer la lumière et d'aérer</li>
          <li>les panneaux solaires qui vont reposer sur la couverture</li>
          <li>les éventuels ornements, girouettes, ... </li>
        </ul>

        <h2>Le cycle de vie d'une couverture :</h2>
        <ul>
          <li>Le remplacement</li>
          <li>La rénovation</li>
          <li>L'entretien</li>
        </ul>

        <h3>Le remplacement</h3>
        <p>La couverture des maisons a fortement évolué en une trentaine d'année. D'un simple revêtement de toit, la couverture regroupe aujourd'hui des techniques traditionnelles mais aussi des procédés hautement technologiques qui permettent d'améliorer le confort des habitants de la maison, la durée de vie de l'habitation mais aussi d'aménager les combles... </p>
        <p>Remplacer sa couverture est donc l'occasion de faire des choix en fonction de ses nouvelles technologies disponibles : création d'ouvertures pour On peut également s'intéresser à la charpente.</p>

        <h3>La rénovation</h3>
        <p>La rénovation intervient lorsque la couverture ne remplit plus ses fonctions de protection de la maison ou lorsqu'on veut améliorer ses dernières (en installant une isolation par exemple). Le coût important d'une rénovation lourde doit amené le propriétaire à envisager un remplacement total de la toiture qui peut s'avérer plus intéressant en fonction de ses objectifs.</p>

        <h3>L'entretien</h3>
        <p>L'entretien est essentiel au bon vieillissement et au bon fonctionnement de la couverture. Une couverture non entretenue ne remplira plus ses fonctions et son dysfonctionnement risque de dégrader la charpente et/ou l'intérieur de la maison. L'entretien d'une couverture dépend du matériau utilisé pour son revêtement mais aussi des conditions environnementales extérieures. Vous trouverez les différents types d'entretien dans le tableau comparatif des matériaux de couverture. </p>

      </div>
    </div>
    <%= render 'shared/guide_left_navigation' %>
  </div>
</div>
