<%= render 'shared/guides_top_banner' %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <div class='guide-page'>

        <ol class="breadcrumb">
          <li><a href="/">Accueil</a></li>
          <li><%= link_to "Les guides", guides_path %></li>
          <li><%= link_to "La couverture", la_couverture_guide_index_path %></li>
          <li class="active">L'écran de sous toiture</li>
        </ol>

        <%= render 'shared/share_links' %>
        <header>
          <h1 itemprop="headline" class="text-center">L'écran de sous toiture</h1>
        </header>
        <p class="italic">Si l'emploi d'un écran sous toiture (EST) n'est pas obligatoire, il est recommandé pour les couvertures en tuiles (en terre cuite, plates, à emboîtement ou en béton) et les ardoises(posées à claire-voie). La lame d'air, appelée vide d'air ou vide sous toit, doit être ventilée grâce à l'installation d'un dispositif spécifique. Si l'EST est de type HPV (Haute Perméabilité à la Vapeur), on peut poser l'isolant directement dessus, sans lame d'air.</p>

        <figure>
          <%= image_tag "ecran_sous_toiture_integra.jpg", class: "figure-article" %>
          <figcaption>Ecran de sous-toiture de la marque Isover © </figcaption>
        </figure>

      </div>
    </div>
    <%= render 'shared/guide_left_navigation' %>
  </den beton
