<%= render 'shared/guides_top_banner' %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <div class='article-page'>

        <ol class="breadcrumb">
          <li><a href="/">Accueil</a></li>
          <li><%= link_to "Les guides", guides_path %></li>
          <li class="active">La couverture</li>
        </ol>

         <div class="share-links">
            <a href="#" class="share-link bg-facebook">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="#" class="share-link bg-twitter">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="#" class="share-link bg-email">
              <i class="fa fa-google"></i>
            </a>
            <a href="#" class="share-link bg-text">
              <i class="fa fa-envelope-o"></i>
            </a>
        </div>
        <header>
          <h1 itemprop="headline" class="text-center">Guide de la couverture</h1>
        </header>
        <p class="italic">La couverture est l'élément qui va recouvrir votre toit. Voici les solutions possibles.</p>

        <p>Nous avons divisé ce guide en 3 catégories afin de faciliter la compréhension.</p>

        <h3 class='text-center'>Comprendre la couverture</h3>

        <div class="col-xs-12 col-md-6">
          <div class="article-card">
            <%= link_to root_path do %>
              <h6 class="text-center">composition</h6>
              <div class="article-content">
                <%= image_tag "renovatio_toit.jpg", class: "img-card" %>
                <p>Derrière la notion Lorem ipsum se cahceh une facond e mettre du texte sans se tromper  </p>
                <%= link_to "Lire", root_path, class: "yellow-link"%>
              </div>
            <% end %>
          </div>
        </div>

        <div class="col-xs-12 col-md-6">
          <div class="article-card">
            <%= link_to root_path do %>
              <h6 class="text-center">composition</h6>
              <div class="article-content">
                <%= image_tag "renovatio_toit.jpg", class: "img-card" %>
                <p>Derrière la notion Lorem ipsum se cahceh une facond e mettre du texte sans se tromper  </p>
                <%= link_to "Lire", root_path, class: "yellow-link"%>
              </div>
            <% end %>
          </div>
        </div>


        <h3 class='text-center'>Les démarches à effectuer</h3>

        <div class="col-xs-12 col-sm-4">
          <div class="article-card">
            <%= link_to la_toiture_professionnels_guide_index_path do %>
              <h6 class="text-center">Les professionnels</h6>
              <div class="article-content">
                <%= image_tag "bardeaux_bitumeux.jpg", class: "img-card" %>
                <p>Parce que la réussite d'un projet résulte souvent du bon choix de votre prestataire.</p>
                <%= link_to "Lire", la_toiture_professionnels_guide_index_path, class: "yellow-link"%>
              </div>
            <% end %>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4">
          <div class="article-card">
            <%= link_to la_toiture_reglementation_guide_index_path do %>
              <h6 class="text-center">La réglementation</h6>
              <div class="article-content">
                <%= image_tag "reglementation.jpg", class: "img-card" %>
                <p>Les projets de rénovation peuvent être soumis à des règles spécifiques. Ce qu'il faut faire !</p>
                <%= link_to "Lire", la_toiture_reglementation_guide_index_path, class: "yellow-link"%>
              </div>
            <% end %>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4">
          <div class="article-card">
            <%= link_to la_toiture_financement_guide_index_path do %>
              <h6 class="text-center">Le financement</h6>
              <div class="article-content">
                <%= image_tag "euros.jpg", class: "img-card" %>
                <p>La rénovation et la construction est une vrai opération immobilière : sachez en profiter !</p>
                <%= link_to "Lire", la_toiture_financement_guide_index_path, class: "yellow-link"%>
              </div>
            <% end %>
          </div>
        </div>

      </div>
    </div>
    <%= render 'shared/guide_left_navigation' %>
  </div>
</div>
