<%= render 'shared/guides_top_banner' %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <div class='article-page'>

        <ol class="breadcrumb">
          <li><a href="/">Accueil</a></li>
          <li><%= link_to "Les guides", guides_path %></li>
          <li class="active">La couverture</li>
        </ol>

         <div class="share-links">
            <a href="#" class="share-link bg-facebook">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="#" class="share-link bg-twitter">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="#" class="share-link bg-email">
              <i class="fa fa-google"></i>
            </a>
            <a href="#" class="share-link bg-text">
              <i class="fa fa-envelope-o"></i>
            </a>
        </div>
        <header>
          <h1 itemprop="headline" class="text-center">Guide de la couverture</h1>
        </header>
        <p class="italic">La couverture regroupe l’ensemble des matériaux qui recouvrent votre logement pour le protéger de l’extérieur. Elle contribue aussi à l'aménagement et à l’esthétisme de la maison. Ce guide présente les notions essentielles à savoir et les différentes options possibles pour bien choisir et entretenir votre couverture.</p>

        <div class="row">
          <h3 class='text-center'>L'essentiel à savoir</h3>

          <div class="col-xs-12 col-md-6">
            <div class="article-card">
              <%= link_to la_couverture_bien_choisir_sa_couverture_guide_index_path  do %>
                <h6 class="text-center">Bien choisir sa couverture</h6>
                <div class="article-content">
                  <%= image_tag "fenetre.jpg", class: "img-card" %>
                  <p>Comment aborder sereinement la rénovation ou le remplacement de la couverture de votre maison ? Voici ce qu'il faut savoir </p>
                  <%= link_to "Lire", la_couverture_bien_choisir_sa_couverture_guide_index_path, class: "yellow-link"%>
                </div>
              <% end %>
            </div>
          </div>

          <div class="col-xs-12 col-md-6">
          <div class="article-card">
            <%= link_to la_couverture_analyse_comparative_materiaux_couverture_guide_index_path do %>
              <h6 class="text-center">Analyse comparative des matériaux</h6>
              <div class="article-content">
                <%= image_tag "lauze.jpg", class: "img-card" %>
                <p>Comparatif des divers matériaux de couverture (coût, durée de vie, avantages, inconvénients, meilleur rapport qualité/prix, ...)</p>
                <%= link_to "Lire", la_couverture_analyse_comparative_materiaux_couverture_guide_index_path, class: "yellow-link"%>
              </div>
            <% end %>
          </div>
          </div>
        </div>

        <div class="row">
          <h3 class='text-center'>Les matériaux de couverture traditionnels</h3>

          <div class="col-xs-12 col-md-4">
            <div class="article-card">
              <%= link_to la_couverture_les_tuiles_en_terre_cuite_guide_index_path do %>
                <h6 class="text-center">Les tuiles en terre cuite</h6>
                <div class="article-content">
                  <%= image_tag "tuiles.jpg", class: "img-card" %>
                  <p>Derrière la notion Lorem ipsum se cahceh une facond e mettre du texte sans se tromper  </p>
                  <%= link_to "Lire", la_couverture_les_tuiles_en_terre_cuite_guide_index_path, class: "yellow-link"%>
                </div>
              <% end %>
            </div>
          </div>

          <div class="col-xs-12 col-md-4">
            <div class="article-card">
              <%= link_to la_couverture_les_ardoises_naturelles_guide_index_path do %>
                <h6 class="text-center">Les ardoises</h6>
                <div class="article-content">
                  <%= image_tag "ardoise.jpg", class: "img-card" %>
                  <p>Derrière la notion Lorem ipsum se cahceh une facond e mettre du texte sans se tromper  </p>
                  <%= link_to "Lire", la_couverture_les_ardoises_naturelles_guide_index_path, class: "yellow-link"%>
                </div>
              <% end %>
            </div>
          </div>

          <div class="col-xs-12 col-md-4">
            <div class="article-card">
              <%= link_to la_couverture_le_toit_en_zinc_guide_index_path do %>
                <h6 class="text-center">Le toit en zinc</h6>
                <div class="article-content">
                  <%= image_tag "dubrovnik.jpg", class: "img-card" %>
                  <p>Derrière la notion Lorem ipsum se cahceh une facond e mettre du texte sans se tromper  </p>
                  <%= link_to "Lire", la_couverture_le_toit_en_zinc_guide_index_path, class: "yellow-link"%>
                </div>
              <% end %>
            </div>
          </div>

          <div class="col-xs-12 col-md-4">
            <div class="article-card">
              <%= link_to la_couverture_le_toit_de_chaume_guide_index_path do %>
                <h6 class="text-center">Le toit de chaume</h6>
                <div class="article-content">
                  <%= image_tag "chaumiere.jpg", class: "img-card" %>
                  <p>Derrière la notion Lorem ipsum se cahceh une facond e mettre du texte sans se tromper  </p>
                  <%= link_to "Lire", la_couverture_le_toit_de_chaume_guide_index_path, class: "yellow-link"%>
                </div>
              <% end %>
            </div>
          </div>

          <div class="col-xs-12 col-md-4">
            <div class="article-card">
              <%= link_to root_path do %>
                <h6 class="text-center">Le lauze</h6>
                <div class="article-content">
                  <%= image_tag "lauze.jpg", class: "img-card" %>
                  <p>Derrière la notion Lorem ipsum se cahceh une facond e mettre du texte sans se tromper  </p>
                  <%= link_to "Lire", root_path, class: "yellow-link"%>
                </div>
              <% end %>
            </div>
          </div>

          <div class="col-xs-12 col-md-4">
            <div class="article-card">
              <%= link_to la_couverture_les_bardeaux_de_bois_guide_index_path do %>
                <h6 class="text-center">Le bardeau de bois</h6>
                <div class="article-content">
                  <%= image_tag "bardeau_bois.jpg", class: "img-card" %>
                  <p>Derrière la notion Lorem ipsum se cahceh une facond e mettre du texte sans se tromper  </p>
                  <%= link_to "Lire", la_couverture_les_bardeaux_de_bois_guide_index_path, class: "yellow-link"%>
                </div>
              <% end %>
            </div>
          </div>
        </div>


        <div class="row">
          <h3 class='text-center'>Les revêtements modernes</h3>

          <div class="col-xs-12 col-md-3">
            <div class="article-card">
              <%= link_to root_path do %>
                <h6 class="text-center">Les ardoises synthétiques</h6>
                <div class="article-content">
                  <%= image_tag "ardoise.jpg", class: "img-card" %>
                  <p>Derrière la notion Lorem ipsum  </p>
                  <%= link_to "Lire", root_path, class: "yellow-link"%>
                </div>
              <% end %>
            </div>
          </div>

          <div class="col-xs-12 col-md-3">
            <div class="article-card">
              <%= link_to root_path do %>
                <h6 class="text-center">Les tuiles métalliques</h6>
                <div class="article-content">
                  <%= image_tag "dubrovnik.jpg", class: "img-card" %>
                  <p>Derrière la notion Lorem ipsum   </p>
                  <%= link_to "Lire", root_path, class: "yellow-link"%>
                </div>
              <% end %>
            </div>
          </div>

          <div class="col-xs-12 col-md-3">
            <div class="article-card">
              <%= link_to root_path do %>
                <h6 class="text-center">Les tuiles en béton</h6>
                <div class="article-content">
                  <%= image_tag "dubrovnik.jpg", class: "img-card" %>
                  <p>Derrière la notion Lorem ipsum   </p>
                  <%= link_to "Lire", root_path, class: "yellow-link"%>
                </div>
              <% end %>
            </div>
          </div>

          <div class="col-xs-12 col-md-3">
            <div class="article-card">
              <%= link_to root_path do %>
                <h6 class="text-center">Les bardeaux bitumineux</h6>
                <div class="article-content">
                  <%= image_tag "bardeaux_bitumeux.jpg", class: "img-card" %>
                  <p>Derrière la notion Lorem ipsum  </p>
                  <%= link_to "Lire", root_path, class: "yellow-link"%>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <div class="row">
          <h3 class='text-center'>Les autres éléments de protection</h3>

          <div class="col-xs-12 col-md-3">
            <div class="article-card">
              <%= link_to root_path do %>
                <h6 class="text-center">L'isolation</h6>
                <div class="article-content">
                  <%= image_tag "isolant.jpg", class: "img-card" %>
                  <p>Derrière la notion Lorem ipsum  </p>
                  <%= link_to "Lire", root_path, class: "yellow-link"%>
                </div>
              <% end %>
            </div>
          </div>

          <div class="col-xs-12 col-md-3">
            <div class="article-card">
              <%= link_to root_path do %>
                <h6 class="text-center">La sous-toiture</h6>
                <div class="article-content">
                  <%= image_tag "dubrovnik.jpg", class: "img-card" %>
                  <p>Derrière la notion Lorem ipsum   </p>
                  <%= link_to "Lire", root_path, class: "yellow-link"%>
                </div>
              <% end %>
            </div>
          </div>

          <div class="col-xs-12 col-md-3">
            <div class="article-card">
              <%= link_to root_path do %>
                <h6 class="text-center">La ventilation</h6>
                <div class="article-content">
                  <%= image_tag "ventilation.jpg", class: "img-card" %>
                  <p>Derrière la notion Lorem ipsum   </p>
                  <%= link_to "Lire", root_path, class: "yellow-link"%>
                </div>
              <% end %>
            </div>
          </div>

          <div class="col-xs-12 col-md-3">
            <div class="article-card">
              <%= link_to root_path do %>
                <h6 class="text-center">La zinguerie</h6>
                <div class="article-content">
                  <%= image_tag "gouttiere.jpg", class: "img-card" %>
                  <p>Derrière la notion Lorem ipsum  </p>
                  <%= link_to "Lire", root_path, class: "yellow-link"%>
                </div>
              <% end %>
            </div>
          </div>
        </div>


        <div class="row">

          <h3 class='text-center'>Les options pour aménager son toit</h3>

          <div class="col-xs-12 col-md-4">
            <div class="article-card">
              <%= link_to root_path do %>
                <h6 class="text-center">Les ouvertures de toit</h6>
                <div class="article-content">
                  <%= image_tag "ouvertures.jpg", class: "img-card" %>
                  <p>Derrière la notion Lorem ipsum  </p>
                  <%= link_to "Lire", root_path, class: "yellow-link"%>
                </div>
              <% end %>
            </div>
          </div>

          <div class="col-xs-12 col-md-4">
            <div class="article-card">
              <%= link_to root_path do %>
                <h6 class="text-center">Les ornements</h6>
                <div class="article-content">
                  <%= image_tag "girouette.jpg", class: "img-card" %>
                  <p>Derrière la notion Lorem ipsum  </p>
                  <%= link_to "Lire", root_path, class: "yellow-link"%>
                </div>
              <% end %>
            </div>
          </div>

          <div class="col-xs-12 col-md-4">
            <div class="article-card">
              <%= link_to root_path do %>
                <h6 class="text-center">Les panneaux solaires</h6>
                <div class="article-content">
                  <%= image_tag "toit_solaire.jpg", class: "img-card" %>
                  <p>Derrière la notion Lorem ipsum  </p>
                  <%= link_to "Lire", root_path, class: "yellow-link"%>
                </div>
              <% end %>
            </div>
          </div>
        </div>



      </div>
    </div>
    <%= render 'shared/guide_left_navigation' %>
  </div>
</div>
