<%= render 'shared/guides_top_banner' %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <div class='article-page'>

        <ol class="breadcrumb">
          <li><a href="/">Accueil</a></li>
          <li><%= link_to "Les guides", guides_path %></li>
          <li><%= link_to "La couverture", la_couverture_guide_index_path %></li>
          <li class="active">L'isolation de la toiture</li>
        </ol>

         <div class="share-links">
            <a href="#" class="share-link bg-facebook">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="#" class="share-link bg-twitter">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="#" class="share-link bg-email">
              <i class="fa fa-google"></i>
            </a>
            <a href="#" class="share-link bg-text">
              <i class="fa fa-envelope-o"></i>
            </a>
        </div>
        <header>
          <h1 itemprop="headline" class="text-center">L'isolation de la toiture</h1>
        </header>
        <p class="italic">Selon l’ADEME, 30 % des déperditions de chaleur d’une maison passe par le toit. L’isolation n’a été couramment utilisée qu’à partir des années 70 et le choc pétrolier. Beaucoup de logements antérieurs à ces années ne sont pas isolés, ou mal isolés. L’isolation d’une toiture assure l’isolation thermique et phonique du logement, contribuant au bien-être du logement et permet d’économiser jusqu’à 25 % de votre facture de chauffage.</p>

        <figure class="figure-article">
          <%= image_tag "isolant.jpg" %>
          <figcaption>L'isolation du toit peut faire économiser jusqu'à 25 % de votre facture de chauffage</figcaption>
        </figure>

        <h2>4 bonnes raisons d'isoler sa toiture</h2>

      </div>
    </div>
    <%= render 'shared/guide_left_navigation' %>
  </den beton
