<%= render 'shared/guides_top_banner' %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <div class='guide-page'>

        <ol class="breadcrumb">
          <li><a href="/">Accueil</a></li>
          <li><%= link_to "Les guides", guides_path %></li>
          <li><%= link_to "La couverture", la_couverture_guide_index_path %></li>
          <li class="active">L'isolation de la toiture</li>
        </ol>

        <%= render 'shared/share_links' %>
        <header>
          <h1 itemprop="headline" class="text-center">L'isolation de la toiture</h1>
        </header>
        <p class="italic">Selon l’ADEME, 30 % des déperditions de chaleur d’une maison passe par le toit. L’isolation n’a été couramment utilisée qu’à partir des années 70 et le choc pétrolier. Beaucoup de logements antérieurs à ces années ne sont pas isolés, ou mal isolés. L’isolation d’une toiture assure l’isolation thermique et phonique du logement, contribuant au bien-être du logement et permet d’économiser jusqu’à 25 % de votre facture de chauffage.</p>

        <figure class="figure-article">
          <%= image_tag "isolant.jpg" %>
          <figcaption>L'isolation du toit peut faire économiser jusqu'à 25 % de votre facture de chauffage </figcaption>
        </figure>

        <h2>4 bonnes raisons d'isoler sa toiture</h2>
        <ul>
          <li>- la toiture est la partie la plus facile à isoler mais c’est aussi l’isolation la plus efficace en rapport gains/coûts.</li>
          <li>- gain d’espace de vie</li>
          <li>- améliore le confort</li>
          <li>- démarche environnementale (label bâtiment basse consommation (BBC))</li>
        </ul>

        <h2>Les types d’isolation</h2>
        <p>Il existe deux grandes possibilités pour isoler votre toit :</p>
        <ul>
          <li>- Isoler des combles habitables</li>
          <li>- Isoler des combles perdus (non habitables)</li>
        </ul>

        <h3>L’isolation des combles habitables</h3>
        <p>Si vous souhaitez aménager vos combles et en faire une partie habitable de la maison, vous avez le choix entre deux techniques : l’isolation par l’intérieur ou celle par l’extérieur.</p>

        <h4>L’isolation des combles par l’intérieur</h4>
        <p>L’isolation des combles par l’intérieur est simple à mettre en place et est plus économique des deux et fait appel à des produits technologiques complexes qui isolent mais qui sont aussi respirants. Des constructeurs comme Saint-Gobain via leur marque isover commercialisent des <%= link_to "produits", "https://www.isover.fr/systemes/applications/isolation-des-combles-amenages" %> d' isolation adaptés aux différentes situations.</p>

        <ul>
          <Li>+ Avantages de ce procédé : excellente isolation phonique, installation simple et moins chère qu’une isolation par l’extérieur (30 à 60 € le M2)</Li>
          <Li>- Inconvénients : moins efficace qu’une isolation par l’extérieur</Li>
        </ul>

        <h4>L’isolation de la toiture par l’extérieur (dite « sarking »)</h4>
        <p>L’isolation par l’extérieur intervient lors d’une construction ou d’une rénovation du toit. Elle s’insère entre la charpente et la couverture et permet d’optimiser l’espace disponible des pièces situés sous le toit mais aussi d’avoir une charpente apparente dans les pièces ce qui ajoute au cachet des pièces à vivre.

        <ul>
          <li>+ Avantages : la plus efficace en termes de performances thermiques </li>
          <li>- Inconvénients : rénovation lourde et donc plus chère (100 € le m2)</li>
        </ul>

        <h3>- L’isolation des combles perdus</h3>
        <p>L’isolation par combles perdus se fait dans le cas où il n’y a pas de pièce habitable sous le toit. Si les combles sont facilement accessible, la technique privilgée est la pose d’un isolant souple à dérouler sur le plancher. Si les combles sont difficilement accessibles, on procédera par soufflage de laine de verre ou ouate de cellulose .</p>

        <h4>Coût</h4>
        <p>L’isolation des combles perdus est un investissement rapidement amorti. Cette méthode économique (entre 20 € et 60 € le mètre carré) bénéficie par ailleurs de multiples aides et subventions :</p>

        <ul>
          <li>- L’éco-prêt à taux zéro</li>
          <li>- La TVA réduite à 5,5 %</li>
          <li>- travaux élégibles au crédit d’impôt de transition énergétique(CITE)</li>
          <li>- Aides de l’Anah</li>
          <li>- prime énergie</li>
          <li>- pacte Energie solidarité </li>
          <li>- aides locales (se renseigner auprès de sa Mairie)</li>
          <li>- Les Certificats d’économies d’énergie (CEE)</li>
        </ul>

        <p>Toutes les infos disponibles sur le site gouvernemental <%= link_to "rénovation-info-service", 'http://www.renovation-info-service.gouv.fr/mes-aides-financieres' %></p>

        <h2>Faire appel à  un couvreur RGE</h2>
        <p>Il peut être intéressant de passer par un couvreur RGE (Reconnu Garant de l’Environnement) pour bénéficier des aides et subventions conditionnées à la préservation de l’environnement tels que l’éco-prêt à taux zéro et le crédit d’impôt pour la transition énergétique. Vous pouvez trouver les couvreurs RGE près de chez vous sur le site <%= link_to "rénovation-info-service", 'http://www.renovation-info-service.gouv.fr/trouvez-un-professionnel' %></p>

        <h2>Pour aller plus loin</h2>
        <p>Plus d’informations sur l’isolation sur ce <%= link_to "site", 'http://www.toutsurlisolation.com/' %> mise en ligne par l’entreprise Saint-Gobain</p>


      </div>
    </div>
    <%= render 'shared/guide_left_navigation' %>
  </den beton
