<%= render 'shared/guides_top_banner' %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <div class='guide-page'>

        <ol class="breadcrumb">
          <li><a href="/">Accueil</a></li>
          <li><%= link_to "Les guides", guides_path %></li>
          <li><%= link_to "La couverture", la_couverture_guide_index_path %></li>
          <li class="active">La zinguerie et l’évacuation des eaux</li>
        </ol>

        <%= render 'shared/share_links' %>
        <header>
          <h1 itemprop="headline" class="text-center">La zinguerie et l’évacuation des eaux</h1>
        </header>
        <p class="italic">Pas de bon toit sans bonne zinguerie, la zinguerie contribue à la solidité et la pérennité du toit en permettant l’évacuation des eaux et en assurant la bonne étanchéité de la couverture. Contribuant à l’esthétique et à la protection des façades, il est conseillé de faire réviser la zinguerie tous les 10 ans. </p>

        <h2>Les différents éléments de la zinguerie</h2>

        <ul>
          <li>Les gouttières et les chéneaux collectent les eaux pluviales en bord de toit.</li>
          <figure>
            <%= image_tag "gouttiere.jpg", class: "figure-article" %>
            <figcaption>  </figcaption>
          </figure>
          <li>Les abergements servent à étanchéifier les ouvertures de toits et les souches de cheminées (partie de la cheminée qui dépasse du toit).</li>
          <li>Les noues assurent l’étanchéité entre deux pans de toiture et canalisent les ruisselements jusqu’à l’égout.</li>
          <li>Les descentes d’eau pluviales sont les tuyaux qui recoivent les eaux des gouttières et qui les mènent jusqu’à un puit perdu ou à l’égout.</li>
        </ul>

        <p>Les gouttières peuvent être également faites en d’autres matériau que le zinc : aluminium pour les grandes longeurs, cuivre pour la durabilité et l’esthétique, pvc pour le prix et la facilité d’installation.</p>

      </div>
    </div>
    <%= render 'shared/guide_left_navigation' %>
    <%= render 'shared/article_left_navigation' %>
  </div>
</div>

