<%= render 'shared/guides_top_banner' %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <div class='article-page'>

        <ol class="breadcrumb">
          <li><a href="/">Accueil</a></li>
          <li><%= link_to "Les guides", guides_path %></li>
          <li><%= link_to "La couverture", la_couverture_guide_index_path %></li>
          <li class="active">La zinguerie de la toiture</li>
        </ol>

         <div class="share-links">
            <a href="#" class="share-link bg-facebook">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="#" class="share-link bg-twitter">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="#" class="share-link bg-email">
              <i class="fa fa-google"></i>
            </a>
            <a href="#" class="share-link bg-text">
              <i class="fa fa-envelope-o"></i>
            </a>
        </div>
        <header>
          <h1 itemprop="headline" class="text-center">La zinguerie de la toiture</h1>
        </header>
        <p class="italic"></p>

        <figure class="figure-article">
          <%= image_tag "gouttiere.jpg" %>
          <figcaption>Un toit en tuiles minérales de la marque Monier © </figcaption>
        </figure>

        <h2>Composition</h2>

      </div>
    </div>
    <%= render 'shared/guide_left_navigation' %>
  </den beton
