<%= render 'shared/guides_top_banner' %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <div class='guide-page'>

        <ol class="breadcrumb">
          <li><a href="/">Accueil</a></li>
          <li><%= link_to "Les guides", guides_path %></li>
          <li><%= link_to "La couverture", la_couverture_guide_index_path %></li>
          <li class="active">Les tuiles en beton</li>
        </ol>

        <%= render 'shared/share_links' %>
        <header>
          <h1 itemprop="headline" class="text-center">Les tuiles en beton</h1>
        </header>
        <p class="italic">La tuile en béton mérite bien son nom !  Le béton est aujourd’hui un matériau composite ultra-technologique (il suffit de voir la hauteur des grattes-ciel) qui est devenu très résistant dans le temps. Qu’elle adopte un style proche de la tuile en terre cuite ou en tuile plate moderne, la tuile en béton est devenue une référence dans la construction de maison. C’est la couverture la plus répandue en Europe de l’Ouest.</p>

        <figure>
          <%= image_tag "tuile_ciment.jpg", class: "figure-article" %>
          <figcaption>Un toit en tuiles minérales de la marque Monier © </figcaption>
        </figure>

        <h2>Composition</h2>
        <p>La tuile en béton est un matériau composite fait de sable, d’argile, de calcaire et minéraux. Les tuiles actuelles sont réalisées en béton hydrofugées dont la surface est lisse et étanche ce qui limite l’arrivée des mousses et des salissures.</p>


        <h2>Avantages / inconvénients</h2>

        <h3>Avantages</h3>
        <ul>
          <li>+ résistance aux chocs et à la pollution</li>
          <li>+ étanchéité et homogéinité des tuiles</li>
          <li>+ durabilité dans des environnements rudes (ingélive)</li>
          <li>+ esthétique proche des styles imités</li>
        </ul>

        <h3>Inconvénients</h3>
        <ul>
          <li>- poids élevé ( 50 kg /m²) nécessitant une charpente adaptée</li>
          <li>- détérioration de la coloration possible après un certain temps</li>
        </ul>

        <h3>Entretien, rénovation et durée de vie</h3>
        <p>Les nouvelles qualités de béton et les nouveaux types de revêtements font que ces tuiles ne nécessitent pas un fort entretien. Les tuiles de qualité, réalisées par de grands groupes indsutriels aveec des technologies de pointe, durent plus de  50 ans.</p>
      </div>
    </div>
    <%= render 'shared/guide_left_navigation' %>
    <%= render 'shared/article_left_navigation' %>
  </div>
</div>
