<%= render 'shared/guides_top_banner' %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <div class='guide-page'>

        <ol class="breadcrumb">
          <li><a href="/">Accueil</a></li>
          <li><%= link_to "Les guides", guides_path %></li>
          <li><%= link_to "La couverture", la_couverture_guide_index_path %></li>
          <li class="active">Les ornements</li>
        </ol>

        <%= render 'shared/share_links' %>
        <header>
          <h1 itemprop="headline" class="text-center">Les ornements</h1>
        </header>
        <p class="italic">Les toits et les façades des bâtiments ont été embellis depuis la nuit des temps. Des éléments décoratifs se sont ajoutés aux fonction purement protectrices des toits et des façades : bas reliefs, sculptures,   fresques colorées… Décorants les édifices prestigieux de toutes les civilisations, certains ornements ont été adoptés dans la construction de demeures plus humbles et donnent à l’ensemble un aspect esthétique réussi et parfois relève de la tradition architecturale d’une région. Voici un florilège non-exhaustif des ornements qui reviennent souvent dans les maisons.</p>

        <h2>La girouette</h2>

        <figure>
          <%= image_tag "girouette.jpg", class: "figure-article" %>
          <figcaption>  </figcaption>
        </figure>

        <p>Simple et belle, elle a une fonction aussi pratique qu’esthétique. Elle peut indiquer le métier du propriétaire ou encore symboliser un endroit ou une région (les girouettes de l’île d’Yeux sont des thons, qui a fait vivre l’île pendant plus d’un siècle.</p>

        <h2>La génoise</h2>
        <p>La génoise est une fermeture d’avant toit </p>

        <h2>Les épis de faîtage,  flèches et pinnacles</h2>
        <p>Ce sont des épis, des flèches qui prolongent le haut du toit</p>

        <h2>Les arêtiers de toit</h2>
        <p>protègent le faîtage du toit</p>

        <h2>L’oeil de bœuf et la lucarne</h2>
        <p>Peuvent être des objets d’arts de par le raffinement de leur ornementations. Interviennent les charpentiers et les couvreurs zingueurs qui décoreront l’extérieur.</p>

      </div>
    </div>
    <%= render 'shared/guide_left_navigation' %>
  </den beton
