<%= render 'shared/guides_top_banner' %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <div class='guide-page'>

        <ol class="breadcrumb">
          <li><a href="/">Accueil</a></li>
          <li><%= link_to "Les guides", guides_path %></li>
          <li><%= link_to "La couverture", la_couverture_guide_index_path %></li>
          <li class="active">Les tuiles en terre cuite</li>
        </ol>

        <%= render 'shared/share_links' %>
        <header>
          <h1 itemprop="headline" class="text-center">Les tuiles en terre cuite</h1>
        </header>
        <p class="italic"></p>

        <p><strong>La tuile recouvre deux tiers des toits de l’Hexagone</strong></p>

        <p>Près de deux toits sur trois sont bâtis en tuile terre cuite selon la Fédération française des tuiles et briques. La tuile est le matériau de construction le plus utilisé dans la réalisation de la couverture de par son bon rapport qualité/prix, sa facilité à confectionner et à transporter. Composée à base d’argile, elle peut peut être confectionnée partout dans les bassins argileux de moins de 500 mètres d’altitudes. Elle convient bien aux toits peu pentus.</p>

        <h2>1. Les différents types de tuile</h2>

        <h3>La tuile plate</h3>
        <p>Historiquement utilisée dans le bassin parisien et en Bourgogne, la tuile plate est la seule tuile à pouvoir être utilisée sur un toit dont la pente fait 45 degrés.</p>

        <figure class="figure-article">
          <%= image_tag "hostel_Dieu_Beaune.jpg" %>
          <figcaption>Les hospices de Beaune: un exemple de toit en tuile plate vernissée</figcaption>
        </figure>

        <p>Il existe une variante alsacienne de la tuile plate : la Biberschwanz (« queue de castor ») qui se caractérise par son bord inférieur arrondi.</p>

        <figure class="figure-article">
          <%= image_tag "biberschwanz.jpg" %>
          <figcaption>La Biberschwanz</figcaption>
        </figure>

        <h3>La tuile canal</h3>
        <p>Inspirée des tuiles romaines, la tuile canal est principalement présente dans les régions méridionales. Elles ne supportent pas très bien le gel. Son aire de répartition va jusqu’en vendée et en alsace avec des différences par région.</p>

        <figure class="figure-article">
          <%= image_tag "tuile_canal.jpg" %>
          <figcaption>Un toit de bergerie couvert par des tuiles canal</figcaption>
        </figure>

        <h3>La tuile panne </h3>
        <p>La tuile panne ou panne flamande s’est implantée dans le nord de l’Europe jusqu’aux pays scandinaves sous l’impulsion des bourguignons qui l’on introduite aux pays-bas. C’est une tuile assez grande, avec 15 unités au mètre carré. Les bâtiments les plus prestigieux ont des tuiles glacées au plomb qui leur donne un aspect vernis de couleurs noires  à violacées. La tuile panne a donné naissance à la tuile à emboitement qui supporte une pente plus élévée que la tuile canal mais aussi résiste mieux aux tempêtes avec un recouvrement simple voire double pour les régions très exposées aux vents violents.</p>

        <figure class="figure-article">
          <%= image_tag "tuile-panne.jpg" %>
          <figcaption>Un cottage anglais dans le Lincolnshire</figcaption>
        </figure>

        <h2>2. Avantages / inconvénients</h2>
        <h6>Avantages</h6>
        <p>La tuile a pour principal avantage son bon rapport/qualité prix avec une durée de vie d’environ 50 ans. La tuile est facilement posable et changeable et peut s’adapter à la plupart des charpentes. </p>
        <h6>Inconvenients</h6>
        <p>La tuile convient moins bien aux régions montagneuses car la terre cuite craint le gel et aura une durée de vie moins longue dans une région où les précipitations sont plus importantes. Certains types de tuiles en terre cuite ont un aspect moins esthétique (tuiles à emboîtement) mais  ont l’avantage du prix, de la facilité de pose et de la robustesse.</p>

        <h2>3. Prix</h2>
        <p>Le prix des tuiles varie de 20 à 50 € le mètre carré</p>

        <h2>4. Entretenir ses tuiles</h2>
        <p>L’entretien d’un toit en tuile est relativement simple et peut être fait par le particulier s’il ne souhaite pas faire appel à un professionnel. Attention, une intervention sur une toiture siutée à plusieurs mètres de hauteur est toujours une opération risquée et sujette à accident, le risque augmentant avec la hauteur et la pente du toit. La tuile, en viellissant, devient poreuse, donc l’eau reste et les mousses s’installent et la tuile s’abîme.</p>

        <h6>Inspection visuelle</h6>
        <p>La première chose à faire est d’inspecter visuellement son toit, du dessus, du dessous, à la jumelle ou au drone. Recherchez les tuiles cassées, fissurées ou décrochées qui peuvent nuire à l’étanchéité de votre toit.  Une légère fissure peut être colmatée mais dès qu’elle est importante, il vaut changer la tuile.</p>

        <h6>Vérifiez l’étanchéité et la ventilation</h6>
        <p>Si l’isolation le permet, vous pouvez vérifier votre toit par dessous pendant ou après une averse pour détecter un fuite éventuelle. Vous pouvez de la même manière inspecter vos gouttières pour regarder les fuites. Vérifier l’écran de sous-toiture s’il est accessible.</p>

        <h6>Enlever les mousses</h6>
        <p>Les tuiles sont plus poreuses que l’ardoise et l’incrustation de mousses et lichens peuvent considérablement réduire leur durée de vie. Pour éviter cela, pensez à bien élaguer les arbres qui pourraient être à proximité de la maison car ils sont pourvoyeurs de déchets végétaux et d’humidité, deux facteurs propices à la prolifération des mousses et autres lichens. Pour enlever les mousses, l’application d’un produit chimique anti-mousse est la manière la plus efficace. Vous pouvez d’abord passer les tuiles les plus attaqués à la brosse pour enlever le surplus de mousses puis ensuite appliquer le produit (à faire par temps sec). Après un délai de séchage, on peut passer le toit au nettoyeur à haute pression (à faible intensité et en faisant attention à l’angle pour éviter toute rentrée d’eau intempestive) ou tout simplement laisser faire la nature si les tâches de mousse ne sont pas trop grandes. </p>

        <h6>Vérifier les fixations</h6>
        <p>Notamment sur les arêtiers et les faîtages, vérifiez le mortier.</p>

        <h6>Peindre ses tuiles</h6>
        <p>Pour augmenter leur durée de vie, il est possible de peindre ses tuiles afin de ralentir le processus de dégradation et d’augmenter leur étanchéité. Pour cela, il faut d’abord passer une sous-couche de fixateur qui a une double utilité : il va restaurer l’étanchéité de la tuile tout en assurant son durcissement et il va servir de fixateur pour la peinture. Peindre la tuile a une utilité mécanique, va la rendre plus étanche mais aussi esthétique en lui rendant un aspect neuf.</p>
        <p>Attention, à chacun de faire un arbitrage entre le temps passé et le coût à peindre un toit en tuile face à poser… une couverture neuve. Le gain de temps et d’argent n’est pas toujours évident et un matériau trop abîmée ne verra pas sa durée de vie prolonger très longuement.</p>

        <h6>Reboucher les fissures</h6>
        <p>Il est relativement facile de réparer une petite fissure d’où l’intérêt d’une détection précoce. On peut utiliser une colle mastic spéciale qui sert à coller les tuiles entre elles (il en existe de couleur terre cuite)
        https://www.youtube.com/watch?v=YVU7ZvyWMTI

        ou encore en faisant une manipulation un peu plus compliquée mais au visuel plus attrayant.
        https://www.youtube.com/watch?v=2scbM5zfnyE</p>

        <h6>Changer ses tuiles</h6>
        <p>http://www.monier.fr/les-produits/les-tuiles/le-remplacement-des-tuiles.html

        http://www.latuileterrecuite.com/entretenir-mes-tuiles/Les-etapes-de-la-renovation.html</p>

      </div>
    </div>
    <%= render 'shared/guide_left_navigation' %>
  </div>
</div>
