<%= render 'shared/guides_top_banner' %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <div class='article-page'>

        <ol class="breadcrumb">
          <li><a href="/">Accueil</a></li>
          <li><%= link_to "Les guides", guides_path %></li>
          <li><%= link_to "La couverture", la_couverture_guide_index_path %></li>
          <li class="active">Les ouvertures de toit</li>
        </ol>

         <div class="share-links">
            <a href="#" class="share-link bg-facebook">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="#" class="share-link bg-twitter">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="#" class="share-link bg-email">
              <i class="fa fa-google"></i>
            </a>
            <a href="#" class="share-link bg-text">
              <i class="fa fa-envelope-o"></i>
            </a>
        </div>
        <header>
          <h1 itemprop="headline" class="text-center">Les ouvertures de toit</h1>
        </header>
        <p class="italic">Les ouvertures de toits permettent de bénéficier de la lumière naturelle  mais aussi d’aérer les pièces situées sous les toits. En cas d’aménagement des combles en pièces habitables, la réglementation stipule que les surfaces vitrées doivent représentées au minimum 17 % de la surface habitable.</p>

        <figure class="figure-article">
          <%= image_tag "ouvertures.jpg" %>
          <figcaption>  </figcaption>
        </figure>

        <h2>Les différents types d’ouvertures :</h2>

        <h3>La fenêtre de toit ou « Vélux »</h3>
        <p>Cette célèbre fenêtre de toit, initialement créée par le constructeur Vélux, est devenue un terme générique pour désigner les fenêtres basculantes. Le nom de velux vient de la contraction de « ventilation » et de lux (lumière en latin). La pléthore de l’offre fait qu’il y en pour toutes les bourses de 150 € pour les premiers prix à plus de 500 € pour les meilleurs produits. Le choix du mode d’ouverture dépend de l’usage de la fenêtre : rotation pour la sécurité et l’encombrement, projection pour la vue.</p>

        <h3>Les verrières de toit</h3>
        <p>La verrière de toit est une partie du toit vitrée. Résisante et pourvue de bonnes propriétés isolantes, la verrière de toit est de plus en plus plébiscité pour l’aménagement des combles en créant un réel puit de lumière dans la pièce. Elle est construite sur mesure par des spécialistes.</p>

        <h3>Les lucarnes </h3>
        <p>La lucarne offre à la fois un aspect esthétique à la façade de la toiture mais aussi une vue verticales sur l’extérieur augmentant la surface ds pièces et l’impression d’espace. Il faut que le toit est une pente d’au moin 30° pour l’installer et nécessite le recours à un artisan qualifié. Une lucarne représente donc un investissement conséquent compris entre 2000 et 8000 €.</p>

        <h3>Les Lanterneaux</h3>
        <p>Ce sont les petites maisons avec toitures placée sur la toiture. Les lanterneaux permettent une ouverture verticale similaire à une fenêtre.</p>

        <h3>Les puits de lumière</h3>
        <p>Les puits de lumière acheminent la lumière extérieure par un tunnel de miroirs qui vont réverbérer la lumière dans une pièce dépourvue d’ouverture. Cette solution est préconisée pour éclairer naturellement les pièces éloignées jusqu’à plusieurs mètres du toit.</p>

        <h3>Les tuiles en verre</h3>
        <p>Longtemps décriée pour son effet loupe et conducteur de chaleur, la tuile en verre est de nouveau utilisée avec des propriétés thermiques et phoniques devenues proches des tuile en terre cuite. Elle est facile à mettre en place et joue parfaitement son rôle pour éclairer des combles non habités ou un grenier sans avoir à créer des ouvertures de toit onéreuses.</p>
        <p>La tuile en verre combine les caractéristiques d’une tuile classique et la tranparence. Elles sont idéales pour les pièces qui ne sont pas habitées : grenier, garage, combles. En revanche, elles ne conviennent pas aux pièces habitées et ne s'adaptent pas à tous les styles de toiture.</p>



      </div>
    </div>
    <%= render 'shared/guide_left_navigation' %>
  </den beton
