<%= render 'shared/guides_top_banner' %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <div class='article-page'>

        <ol class="breadcrumb">
          <li><a href="/">Accueil</a></li>
          <li><%= link_to "Les guides", guides_path %></li>
          <li><%= link_to "La couverture", la_couverture_guide_index_path %></li>
          <li class="active">La ventilation de la toiture</li>
        </ol>

         <div class="share-links">
            <a href="#" class="share-link bg-facebook">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="#" class="share-link bg-twitter">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="#" class="share-link bg-email">
              <i class="fa fa-google"></i>
            </a>
            <a href="#" class="share-link bg-text">
              <i class="fa fa-envelope-o"></i>
            </a>
        </div>
        <header>
          <h1 itemprop="headline" class="text-center">La ventilation de la toiture</h1>
        </header>
        <p class="italic">Element essentiel de la toiture pour assurer sa pérennité, la ventilation a pour objectif de réguler le taux d’humidité du toit. Son principal objectif est d’éviter la formation de condensation qui génère moississures et humidité qui va dégrader les différents composants du toit : charpente, isolation, sous-toiture et matériaux de couverture.</p>

        <figure class="figure-article">
          <%= image_tag "ventilation.jpg" %>
          <figcaption></figcaption>
        </figure>

        <h2>Fonctionnement</h2>
        <p>La ventilation se fait par la création d’un vide (où va circuler la lame d’air) situé entre les liteaux (partie de la charpente supportant la couverture) et l’écran de sous-toiture. Certains types de couverture tels que les toits couverts en tuiles arrondies n’on pas besoin d’une installation de ventilation spécifique, la forme des tuiles faisant correctement circuler l’air. Le dispositif est complété par un closoir de faîtage qui assure l’étanchéité du sommet du toit.</p>

        <p>Plusieurs types de ventilations :</p>
        <ul>
          <li>- le système à chatière</li>
          <li>- le système linéaire</li>
          <li>- les toitures plates</li>
        </ul>

        <h3>La ventilation à châtière</h3>

        <p>Elle est composée d’ouvertures ponctuelles (les chatières) disposées de façon à faire circuler l’air de manière ascendante. Les chatières exposées au vents dominants sont disposées en bas de la toiture tandis que celles disposées à l’abris des vents dominants sont disposées en haut. Il faut environ une chatière pour 20 m² de tuiles contre 10 m² pour l’ardoise.</p>

        <h3>Le système linéaire</h3>
        <p>Le système linéaire consiste à faire circuler une lame d’air du bas (gouttières) vers le haut du toit. ll est obligatoire en zone montagneuse et est préconisé lorque le toit comporte une sous-toiture car il répartit mieux l’aération.</p>

        <h3>Les toitures plates</h3>
        <p>Elles peuvent exiger une ventilation spécifique si elles sont isolées.</p>


      </div>
    </div>
    <%= render 'shared/guide_left_navigation' %>
  </den beton
