<%= render 'shared/magazine_top_banner' %>

<div class="container">
  <div class="row">

    <%= render 'shared/article_left_navigation' %>

    <div class="col-xs-12 col-md-9">
      <div class='article-page'>
        <div class="container-extract-article">
          <h2 class="text-center">Les dernières actualités</h2>
        </div>


         <!-- Essai -->
        <div class="col-xs-12 col-sm-12">
          <div class="article-card">
            <%= link_to energie_photovoltaique_2017_magazine_index_path do %>
              <h6 class="text-center"> Photovoltaique 2017 ce que'il faut savoir !</h6>
              <div class="article-content">
                <%= image_tag "construction_toit.jpg", class: "img-card" %>
                <p class= "italic">publié le 27 avril 2017</p>
                <p>L'essentiel à savoir pour 2017</p>
                <%= link_to "Accéder à l'article", energie_photovoltaique_2017_magazine_index_path, class: "yellow-link"%>
              </div>
            <% end %>
          </div>
        </div>


         <!-- Essai -->
        <div class="col-xs-12 col-sm-6">
          <div class="article-card">
            <%= link_to energie_photovoltaique_2017_magazine_index_path do %>
              <h6 class="text-center"> Photovoltaique 2017 ce que'il faut savoir !</h6>
              <div class="article-content">
                <%= image_tag "construction_toit.jpg", class: "img-card" %>
                <p class= "italic">publié le 27 avril 2017</p>
                <p>L'essentiel à savoir pour 2017</p>
                <%= link_to "Accéder à l'article", energie_photovoltaique_2017_magazine_index_path, class: "yellow-link"%>
              </div>
            <% end %>
          </div>
        </div>

         <!-- Essai -->
        <div class="col-xs-12 col-sm-6">
          <div class="article-card">
            <%= link_to energie_photovoltaique_2017_magazine_index_path do %>
              <h6 class="text-center"> Photovoltaique 2017 ce que'il faut savoir !</h6>
              <div class="article-content">
                <%= image_tag "construction_toit.jpg", class: "img-card" %>
                <p class= "italic">publié le 27 avril 2017</p>
                <p>L'essentiel à savoir pour 2017</p>
                <%= link_to "Accéder à l'article", energie_photovoltaique_2017_magazine_index_path, class: "yellow-link"%>
              </div>
            <% end %>
          </div>
        </div>




      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">

      <br>
        <%= link_to root_path, class: "main-cta" do %>
          <span>Home Acualité juridiques</span>
        <% end %>
<br>
      <br>
        <%= link_to root_path, class: "main-cta" do %>
          <span>Legislation 2017</span>
        <% end %>

    </div>
  </div>
</div>
