<%= render 'shared/guides_top_banner' %>
<%= render 'shared/fix_cta' %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <div class='index_guides_page'>

        <ol class="breadcrumb">
          <li><a href="/">Accueil</a></li>
          <li class="active">Les guides</li>
        </ol>

      <div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>



          <div class="share-links">

            <a href="https://www.lestoitures.fr/guides" id="shareBtn" class="share-link bg-facebook">
              <i class="fa fa-facebook"></i>
            </a>

            <a href="https://www.lestoitures.fr/guides" class="share-link bg-twitter">
              <i class="fa fa-twitter"></i>
            </a>

            <a href="#" class="share-link bg-email">
              <i class="fa fa-google"></i>
            </a>
            <a href="#" class="share-link bg-text">
              <i class="fa fa-envelope-o"></i>
            </a>
        </div>
        <header>
          <h1 itemprop="headline" class="text-center">Les guides</h1>
        </header>
        <p class="italic">Ces trois guides ont été conçus dans l'optique de vous donner les principales informations et les enjeux relatifs à l'achat, l'entretien et la rénovation de votre toiture :</p>

        <ul>
          <li>Le "guide de la toiture" soulève les grands enjeux de la toiture,</li>
          <li>Le "guide de la couverture" présente les différents matériaux disponibles et les options possibles,</li>
          <li>Le "guide de la charpente" vous aidera à choisir votre charpente en fonction de votre projet.</li>
        </ul>


        <br>

        <div class="col-xs-12 col-md-12">
          <div class="guide-card">
            <%= link_to la_toiture_guide_index_path do %>
              <h6 class="text-center">Le guide de la toiture</h6>
              <div class="guide-content">
                <%= image_tag "chaumiere.jpg", class: "img-card" %>
                <p>L'essentiel pour bien comprendre l'ensemble des enjeux à tous les stades de votre projet : plannings, gestion des devis...</p>
                <%= link_to "Accéder au guide", la_toiture_guide_index_path, class: "yellow-link"%>
              </div>
            <% end %>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6">
          <div class="guide-card">
            <%= link_to la_couverture_guide_index_path do %>
              <h6 class="text-center">Le guide de la couverture</h6>
              <div class="guide-content">
                <%= image_tag "lauze.jpg", class: "img-card" %>
                <p>De nombreuses possibilité s'offrent à vous lors du choix de la couverture de votre maison : types de revêtements, création d'ouvertures...</p>
                <%= link_to "Accéder au guide", la_couverture_guide_index_path, class: "yellow-link"%>
              </div>
            <% end %>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6">
          <div class="guide-card">
            <%= link_to la_charpente_guide_index_path do %>
              <h6 class="text-center">Le guide de la charpente</h6>
              <div class="guide-content">
                <%= image_tag "charpente_tradi.jpg", class: "img-card" %>
                <p>La charpente est l'ossature du toit, son choix dépend de l'usage du futur toit (terrasse, habitabilité des combles) et du style de couverture désiré</p>
                <%= link_to "Accéder au guide", la_charpente_guide_index_path, class: "yellow-link"%>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'shared/guide_left_navigation' %>
  </div>
</div>
