<% content_for :meta_title, "Les guides du site #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "Les principales informations à savoir (points essentiels, bonnes pratiques) avant de commencer vos travaux de toiture." %>
<% content_for :meta_image, "lancieux_1200_630.jpg" %>


<%= render 'shared/guides_top_banner' %>
<%= render 'shared/fix_cta' %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <div class='index_guides_page'>

        <ol class="breadcrumb">
          <li><a href="/">Accueil</a></li>
          <li class="active">Les guides</li>
        </ol>

        <%= render 'shared/share_links' %>

        <header>
          <h1 itemprop="headline" class="text-center">Les guides</h1>
        </header>
        <p class="italic">Cette collection de trois guides présente les principales informations à savoir (points essentiels, bonnes pratiques) avant de commencer vos travaux de toiture. Ces infos clés vous permettront d'instaurer des échanges constructifs avec vos prestataires pour bien réussir votre projet. </p>

        <ul>
          <li>Parcourez "Le guide de la toiture" pour aborder votre projet avec de bonnes bases,</li>
          <li>Découvrez les différents types de toits possibles (couverture en tuile, en ardoises, etc ) pour votre maison dans "Le guide de la couverture",</li>
          <li>Déterminez la charpente correspondant à votre projet avec "Le guide de la charpente".</li>
        </ul>


        <br>

        <div class="col-xs-12 col-md-12">
          <div class="guide-card">
            <%= link_to la_toiture_guide_index_path do %>
              <h6 class="text-center">Le guide de la toiture</h6>
              <div class="guide-content">
                <%= image_tag "chaumiere.jpg", class: "img-card" %>
                <p>Abordez votre projet de travaux de toitures avec les bonnes bases : plannings, gestion des devis, financements, prestataires...</p>
                <%= link_to "Accéder au guide", la_toiture_guide_index_path, class: "yellow-link"%>
              </div>
            <% end %>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6">
          <div class="guide-card">
            <%= link_to la_couverture_guide_index_path do %>
              <h6 class="text-center">Le guide de la couverture</h6>
              <div class="guide-content">
                <%= image_tag "lauze.jpg", class: "img-card" %>
                <p>Choisissez votre type de toit en fonction de vos envies et de vos besoins. Informez vous sur les éléments de protection : isolation, sous-toiture, zinguerie. Découvrez les options possibles pour aménager votre toit : ouvertures, ornements...
                </p>
                <%= link_to "Accéder au guide", la_couverture_guide_index_path, class: "yellow-link"%>
              </div>
            <% end %>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6">
          <div class="guide-card">
            <%= link_to la_charpente_guide_index_path do %>
              <h6 class="text-center">Le guide de la charpente</h6>
              <div class="guide-content">
                <%= image_tag "charpente_tradi.jpg", class: "img-card" %>
                <p>Quelle charpente choisir en fonction de son habitation et de ses projets ? Ce guide vous présente les différents types de charpentes et leurs usages associés. </p>
                <%= link_to "Accéder au guide", la_charpente_guide_index_path, class: "yellow-link"%>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'shared/guide_left_navigation' %>
  </div>
</div>

